= form_for @collection do |f|
  - if @collection.errors.any?
    #error_explanation
      %h1= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Collection

    .field
      = f.label :title
      = f.text_field :title

    .field
      / = f.label :description
      = f.cktext_area :description

  %fieldset
    %legend
      Components
      
    .field
      %h1 Categories:

      - Category.all.each_slice(3) do |column|
        .column
          - column.each do |category|
            .column-group
              %h2
                = category.title
              - category.components.each do |component|
                %ul
                  - if component.parent_id.blank? || component.parent_id == 0 || component.patriarch.category_id != category.id
                    = render "components/component_checkboxes", parent_id: 0, component: component, f: f, collection: @collection
    
  .actions
    = f.submit 'Save'
