= form_for @collection do |f|
  - if @collection.errors.any?
    #error_explanation
      %h1= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Collection

    .field
      = f.label :title
      = f.text_field :title

    #collection-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.admin-button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "collection-image" })

    .field
      / = f.label :description
      = f.cktext_area :description
    
  .actions
    = f.submit 'Save'
