= form_for @collection do |f|
  - if @collection.errors.any?
    #error-explanation
      %h1= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Collection

    .field.required
      = f.label :title
      = f.text_field :title
      
    .field
      = f.label :link
      = f.text_field :link

      %div.instructions.link
        (If used, "Link" will connect directly without displaying the contents of this page. Prefix "http://" to all external links. Use "/" for all internal. e.g.: "/locations")

    #collection-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.admin-button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "collection-image" })

    .field
      = f.cktext_area :description
      %p.required
        Description is required
    
  .actions
    = f.submit 'Save'
