= form_for @collection do |f|
  - if @collection.errors.any?
    #error_explanation
      %h1= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  .field
    %h1 Categories:
    - Category.products.each_slice(3) do |column|
      .column
        - column.each do |category|
          .column-group
            %h2 
              = category.title
            - category.components.each do |component|
              .checkbox
                = check_box_tag "component#{component.id}", component.id, @collection.components.include?(component), :name => 'collection[component_ids][]'
                = label_tag "component#{component.id}", component.title
  / .field
  /   .column
  /     .column-group
  /       - @collections = Collection.all
  /       - @collections.each_slice(@collections.length/3) do |column|
  /         .column
  /           .column-group
  /             - column.each do |collection|
  /               .checkbox
  /                 = check_box_tag "collection#{collection.id}", collection.id, @style.collections.include?(collection), :name => 'style[collection_ids][]'
  /                 = label_tag "collection#{collection.id}", collection.title
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
