= render "layouts/partials/user_side_nav"

#admin
  %h1 Available Collections

  .links
    = link_to 'Add New Collection', new_collection_path

  - if @collections
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th Parent Id
          %th List Image
          %th Brands
          %th Styles
          %th
      %tbody
        - @collections.each do |collection|
          %tr
            %td= collection.id
            %td= collection.title
            %td= collection.parent_id
            %td
              - if collection.images.blank?
                &mdash;
              - else 
                = cl_image_tag(collection.images.first.asset.filename.to_s, transformation: "hint", alt: "#{collection.title} Image", title: collection.title)
            %td
              - if collection.brands.blank?
                &mdash;
              - else 
                - collection.brands.each do |brand|
                  %span.comma= brand.title

            %td
              - if collection.styles.blank?
                &mdash;
              - else 
                - collection.styles.each do |style|
                  %span.comma= style.title


            %td.controls
              = link_to 'Show', collection
              = link_to 'Edit', edit_collection_path(collection)
              = link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Collection', new_collection_path
