= render "layouts/partials/user_side_nav"

#admin
  %h1 Available Collections

  .links
    = link_to 'Add New Collection', new_collection_path

  - if @collections
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th
      %tbody
        - @collections.each do |collection|
          %tr
            %td= collection.id
            %td= collection.title
            %td.controls
              = link_to 'Show', collection
              = link_to 'Edit', edit_collection_path(collection)
              = link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Collection', new_collection_path
