= form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h1
        = "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li
            = msg
            
  %fieldset
    %legend
      Component

    .field
      = f.label :category_id, "Category"
      = f.collection_select(:category_id, Category.all, :id, :title, :prompt => "Select a Category")

    .field
      = f.label :parent_id, "Parent"
      %select{id: "component_parent_id", name: "component[parent_id]"}
        %option
          Main Component / No Parent
        %optgroup{label: "Existing Components"}
          - Component.where(:parent_id => 0).each do |component|
            - unless component.id == f.object.id
              = render "component_select", component: component, level: -1, override: true

    .field
      = f.label :title
      = f.text_field :title

    #component-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "component-image" })

  .actions
    = f.submit 'Save'
