= form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h1
        = "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li
            = msg
            
  %fieldset
    %legend
      Component

    .field
      = f.label :category_id, "Category"
      = f.collection_select(:category_id, Category.all, :id, :title, :prompt => "Select a Category")
    
    .field
      = f.label :parent_id, "Parent Component"
      / = f.collection_select(:parent_id, Component.all, :id, :title, :prompt => "Select a Component")
      %select{id: "component_parent_id", name: "component[parent_id]"}
        %option
          New Top Level Component
        %optgroup{label: "Existing Components"}
          - Component.where(:parent_id => nil).each do |component_selector|
            = render "component_select", component_selector: component_selector, component: @component, level: -1

    .field
      = f.label :title
      = f.text_field :title

  / %fieldset
  /   %legend
  /     Sub-Components

  /   #component-subcomponent
  /     .addable-group.subcomponents
  /       = f.fields_for :subcomponents do |subcomponent_builder|
  /         = render 'subcomponents/subcomponent_fields', f: subcomponent_builder
  /     .addable.button
  /       = link_to_add_fields({ name: "Add Subcomponents", f: f, association: :subcomponents, container: "component-subcomponent" })


  .actions
    = f.submit 'Save'
