= form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h1= "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :category_id, "Category"
    = f.collection_select(:category_id, Category.products, :id, :title, :prompt => "Select a Category")
  / .field
  /   = f.label :name
  /   = f.text_field :name
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
