= form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h1
        = "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li
            = msg
            
  %fieldset
    %legend
      Component

    .field
      = f.label :category_id, "Category"
      = f.collection_select(:category_id, Category.all, :id, :title, :prompt => "Select a Category")

    .field
      = f.label :parent_id, "Parent"
      %select{id: "component_parent_id", name: "component[parent_id]"}
        %option
          Main Component / No Parent
        %optgroup{label: "Existing Components"}
          - Component.where(:parent_id => 0).each do |component_selector|
            = render "component_select", component_selector: component_selector, component: @component, level: -1

    .field
      = f.label :title
      = f.text_field :title

  .actions
    = f.submit 'Save'
