= label_tag "#{type.to_s}_component_id", "Component"

/ - f.object.attributes.each do |name, value|
/   = "#{name}: #{value}"
/   %br

/ - if defined?(type)
/   = type
/ - else
/   laskdjfldksjf

- if defined?(f) && f.object.component_id
  - @components = Collection.find(f.object.collection_id).components
  = f.select :component_id, @components.collect{|t| [t.title, t.id]}, { prompt: "Select a Component" }, :"data-type" => type

- else
  - if defined?(@components)
    = collection_select(type, :component_id, @components, :id, :title, {prompt: "Select a Component" }, :"data-type" => type)
  
  - else 
    = select_tag "#{type.to_s}[component_id]","#{type.to_s}_component_id", { prompt: "Please select a Collection first", disabled: true, :"data-type" => type }