= render "layouts/partials/admin_side_nav"

#admin
  %h1 Available Components

  .links
    = link_to 'Add New Component', new_component_path

  - if @components
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th Categories
          %th Main Section
          %th Parent Section
          %th Child Sections
          %th
      %tbody
        - @components.each do |component|
          %tr
            %td= component.id
            %td= component.title
            %td= component.categories.map{|category| category.title}.join(", ")
            / %td= component.category.title
            %td= component.patriarch.title
            %td= component.parent.title
            %td= component.children.length
            
            %td.controls
              = link_to 'Show', component
              = link_to 'Edit', edit_component_path(component)
              = link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Component', new_component_path
