#admin
  %h1 Available Components

  - if @components
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th Category
          %th Main Section
          %th Parent Section
          %th Child Sections

          %th
          %th
          %th
      %tbody
        - @components.each do |component|
          %tr
            %td= component.id
            %td= component.title
            %td= component.category.title
            %td= component.patriarch.title
            %td= component.parent.title
            %td= component.children.length
            
            %td= link_to 'Show', component
            %td= link_to 'Edit', edit_component_path(component)
            %td= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Component', new_component_path
