= form_for @compilation, :html => { :multipart => true } do |f|
  - if @compilation.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@compilation.errors.count, "error")} prohibited this compilation from being saved:"
      %ol
        - @compilation.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset{id: "compilation-fields"}
    %legend
      Compilation Info

    .field
      = f.label :active
      = f.check_box :active, {checked: checked(f.object.active)}

    .field
      = f.label :skin_id, "Template"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}, { prompt: "Select a Template" }

    .field#compilation-collection
      = f.label :collection_id, "Collection"
      = f.select :collection_id, Collection.all.collect{|t| [t.title, t.id]}, { prompt: "Select a Collection" }, :"data-type" => :compilation

      #include-finish-name
        = f.check_box :include_finish_name
        = f.label :include_finish_name

    .field#compilation-finish
      = render '/finishes/select', f: f, type: :compilation

    .field#compilation-title
      = f.label :title
      = f.text_field :title

    #compilation-image.addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      .addable.admin-button
        = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "compilation-image" })

  %fieldset
    %legend
      Skus

    .field#compilation-skus
      Please select a Collection and Finish from above.

      = render '/skus/list', f: f, type: :compilation, skus: @compilation.get_skus, selected_sku_ids: @compilation.selected_skus

  .actions
    = f.submit 'Save'
