- if current_admin
  %nav#manage
    %ul
      %li= link_to "FAQ's",         faqs_path
      %li= link_to "Figures",       figures_path
      /%li= link_to "Galleries",     galleries_path
      /%li= link_to "Images",        images_path
      %li= link_to "Leads",         leads_path
      %li= link_to "Pages",         pages_path
      %li= link_to "Partners",      partners_path
      %li= link_to "Products",      products_path
      %li= link_to "Skins",         skins_path
      %li= link_to "Testimonials",  testimonials_path
      %li= link_to "Venues",        venues_path
      / %li= link_to "Videos",        videos_path