#admin
  %h1 Admin Areas

  %ul
    %li= link_to "Brands",        brands_path
    %li= link_to "Categories",    categories_path
    %li= link_to "Collections",   collections_path
    %li= link_to "Compilations",  compilations_path
    %li= link_to "Components",    components_path
    %li= link_to "Finishes",      finishes_path
    %li= link_to "Dealers",       admins_locations_path
    %li= link_to "Pages",         pages_path
    %li= link_to "Products",      products_path
    %li= link_to "Sections",      sections_path
    %li= link_to "Skins",         skins_path
    %li= link_to "Styles",        styles_path