= form_for [:manage, @section] do|f|
  - if @section.errors.any?
    #error-explanation
      %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @section.errors.full_messages.each do|msg|
          %li= msg

  = render 'nested_fields', f: f, allow_associations: true, allow_children: true

  %footer
    .buttons
      %button{type: "submit"}
        .button-content
          Save