- build_section_relationships(f.object)

.association-group.nested-fields
  .legend
    - if f.object.id.present?
      Section
    - else
      New Section

  .container
    .fieldset
      - if f.object && f.object.id
        .field
          .field-content
            .title
              Id
            .value
              = f.object.id

      .field.editable
        .field-content
          .title
            = f.label :shown
          .value
            = f.check_box :shown
            = f.label :shown, class: "checkbox"

      - if defined?(allow_associations) && allow_associations.present?
        .field.editable
          .field-content
            .title
              = f.label :page
            .value
              = f.select :page_id, Page.all.pluck(:name, :id), {prompt: "Select a Page"}

        .field.editable
          .field-content
            .title
              = f.label :parent
            .value
              = f.select :parent_id, Section.all.sort_by(&:name).pluck(:name, :id), {prompt: "Select a Parent"}


      .field.editable
        .field-content
          .title
            = f.label :section_type
          .value
            = f.select :section_type_id, SectionType.all.pluck(:name, :id), {prompt: "Select a SectionType"}

                
      .field.editable.required
        .field-content
          .title
            = f.label :name
          .value
            = f.text_field :name, required: true, placeholder: "e.g.: Home"

      .field.editable.required
        .field-content
          .title
            = f.label :slug
          .value
            = f.text_field :slug, placeholder: "e.g.: home"

      .field.editable.cke-collection
        .field-content
          .title
            = f.label :content
          .value
            = f.cktext_area :content


      = f.fields_for :link do|link_builder|
        = render 'manage/links/embedded_fields', f: link_builder


    .association-groups
      .legend
        Section Image

      .section-figures.container.figures-container
        = f.fields_for :figures do|figure_builder|
          = render 'manage/figures/nested_fields', f: figure_builder

      / .controls
      /   = link_to_add_association '+', f, :figures, partial: 'manage/figures/nested_fields', class: "form-button base10-admin-add-association", title: 'Add Figure'

    .association-groups
      .legend
        Items

      .section-items.container
        = f.fields_for :items do|item_builder|
          = render 'manage/items/nested_fields', f: item_builder

      .controls
        = link_to_add_association '+', f, :items, partial: 'manage/items/nested_fields', class: "form-button base10-admin-add-association", title: 'Add Item'


    - if (defined?(allow_children) && allow_children.present?) || f.object.children.present?
      / Children / Sub-Sections
      .association-groups
        .legend
          Sub-Sections

        .section-sub-sections.container
          = f.fields_for :children do|child_builder|
            = render "manage/sections/nested_fields", f: child_builder

        .controls
          = link_to_add_association "+", f, :children, partial: "manage/sections/nested_fields", class: "form-button base10-admin-add-association", title: "Add Sub-Section"

  .controls
    = link_to_remove_association "–", f, class: "form-button base10-admin-remove-association"