%article.index
  %header
    .db-table-info
      .stat-group
        .stat
          .stat-content
            .title
              Total Sections
            .value
              = @sections.length

    .db-table-controls
      .buttons
        = link_to new_manage_section_path, class: "button base10-admin-new" do
          New Section

  %section
    .section-body
      .table-group
        .table
          .thead
            .tr
              .th Id
              .th Name
              .th Slug
              .th Parent
              .th Associated Page
              .th

          .tbody
            - @sections.each do|section|
              .tr
                .td= section.id
                .td= section.name
                .td= section.slug
                .td= val(section.parent).try(:name)
                .td= associated_page(section).name

                .td
                  .buttons
                    = link_to 'Edit', edit_manage_section_path(section), class: "button base10-admin-edit"
                    = link_to 'Destroy', manage_section_path(section), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button base10-admin-destroy"
