.removeable
  %h2
    Dimension Info
    = link_to_remove_fields f

  .field
    = f.label :title
    = f.text_field :title

  .dimension-values
    .field
      = f.label :width, "Dimensions"
      = f.text_field :width, value: "W"
      x
    .field
      /= f.label :height
      = f.text_field :height, value: "H"
      x 
    .field
      /= f.label :depth
      = f.text_field :depth, value: "D"
  
  - unique_id = randomNum
  %div{id: "dimension-image-#{unique_id}", class: "images singular-image"}
    = f.fields_for :image, include_id: false do |image_builder|
      = render 'images/image_fields', f: image_builder
      - if f.object.image.blank?
        .addable
          = link_to_add_fields "Add Image", f, :image, "dimension-image-#{unique_id}"
      - else 
        %div
          = link_to_add_fields "Add Image", f, :image, "dimension-image-#{unique_id}"
    