- f.object.width  ||= "W"
- f.object.height ||= "H"
- f.object.depth  ||= "D"

- unique_id ||= randomNum

.active
  - if local_assigns.has_key? :options
    - if options[:header]
      %h2
        Dimension Info
        - if options[:removable]
          = link_to_remove_fields f

  .field
    = f.label :title
    = f.text_field :title

  .dimension-values
    .field
      = f.label :width, "Dimensions"
      = f.text_field :width, {class: "clear-input", "data-message" => "W"}
      x
    .field
      /= f.label :height
      = f.text_field :height, {class: "clear-input", "data-message" => "H"}
      x 
    .field
      /= f.label :depth
      = f.text_field :depth, {class: "clear-input", "data-message" => "D"}
  
  %div{id: "dimension-image-#{unique_id}", class: "singular-addable"}
    .addable-group.images
      = f.fields_for :image do |image_builder|
        = render 'images/image_fields', f: image_builder

    .addable.button{class: ("hidden" unless f.object.image.blank?)}
      = link_to_add_fields({ name: "Add Image", f: f, association: :image, container: "dimension-image-#{unique_id}" })
    