= form_for @dimension, :html => { :multipart => true } do |f|
  - if @dimension.errors.any?
    #error-explanation
      %h1 
        = "#{pluralize(@dimension.errors.count, "error")} prohibited this dimension from being saved:"
      %ul
        - @dimension.errors.full_messages.each do |msg|
          %li 
            = msg

  %fieldset{id: "dimensions"}
    %legend
      Dimensions
      
    = render "dimension_fields", f: f      

  .actions
    = f.submit 'Save'
