#admin
  %h1 Available Dimension

  - if @dimensions
    %table
      %thead
        %tr
          %th Id:
          %th Title:
          %th Width:
          %th Height:
          %th Depth:
          %th Image:
          %th
          %th
          %th
      %tbody
        - @dimensions.each do |dimension|
          %tr
            %td= dimension.id
            %td= dimension.title
            %td= number_with_precision(dimension.width, strip_insignificant_zeros: true)
            %td= number_with_precision(dimension.height, strip_insignificant_zeros: true)
            %td= number_with_precision(dimension.depth, strip_insignificant_zeros: true)
            %td
              - if !dimension.image.blank?
                = cl_image_tag(dimension.image.first.asset.filename.to_s, transformation: "hint", alt: dimension.image.first.asset.filename.to_s, title: dimension.title)
              - else
                n/a
            %td= link_to 'Show', dimension
            %td= link_to 'Edit', edit_dimension_path(dimension)
            %td= link_to 'Destroy', dimension, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Dimension', new_dimension_path
