#admin
  %table
    %thead
      %tr
        %th Name:
        %th Title:
        %th Width:
        %th Height:
        %th Depth:
        %th Image:
    %tbody
      %tr
        %td= @dimension.name
        %td= @dimension.title
        %td= @dimension.width
        %td= @dimension.height
        %td= @dimension.depth
        %td= image_tag @dimension.image.asset_url(:thumb).to_s

  .links
    = link_to 'Edit', edit_dimension_path(@dimension)
    \|
    = link_to 'Back', dimensions_path
