#admin
  %table
    %thead
      %tr
        %th Title:
        %th Width:
        %th Height:
        %th Depth:
        - if !@dimension.images.blank?
          %th Image:
    %tbody
      %tr
        %td= @dimension.title
        %td= @dimension.width
        %td= @dimension.height
        %td= @dimension.depth
        - if !@dimension.images.blank?
          %td
            - @dimension.images.each do |image|
              = cl_image_tag(image.asset.filename.to_s, transformation: "thumb", alt: image.asset.filename.to_s, title: @dimension.title)

  .links
    = link_to 'Edit', edit_dimension_path(@dimension)
    = link_to 'Back', admin_dimensions_path
