- if defined?(f) && f.object.subcomponent_id
  / - @subcomponents = f.object.component.component_subcomponents
  - @subcomponents = Component.find(f.object.component_id).subcomponents
  
  = f.label :subcomponent_id
  = f.select :subcomponent_id, @subcomponents.collect{|t| [t.title, t.id]}, { prompt: "Select a Sub-Component" }

- else
  - if defined?(@subcomponents)
    - if @subcomponents.length > 0
      = label_tag :product_subcomponent_id, "Sub-Component"
      = collection_select(:product, :subcomponent_id, @subcomponents, :id, :title, prompt: "Select a Sub-Component" )
  
  - else 
    = label_tag :product_subcomponent_id, "Sub-Component"
    = select_tag "product[subcomponent_id]","product_subcomponent_id", { prompt: "Please select a Component first", disabled: true }