%article#admin-signup
  %header
    %h1
      Request Gallery Access

  %p
    Please fill out the form below to request access to our product gallery. If you have already received a registration confirmation you can login 
    = link_to "here.", new_user_session_path

  .input-form
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
      = devise_error_messages! 

      %fieldset{id: "edit-your-account"}
        .field.required
          = f.label :email 
          = f.email_field :email

        .field.required
          = f.label :password 
          = f.password_field :password 

        .field.required
          = f.label :password_confirmation 
          = f.password_field :password_confirmation 

        .field
          = f.submit "Request Access" 

    =# render "users/shared/links" 