- unique_id ||= randomNum
- @figure_options = { header: true, removable: true }

.active-fields
  - if local_assigns.has_key? :options
    - if options[:header]
      %h2
        Carousel Info
        - if options[:removable]
          = link_to_remove_fields f

  %div{id: "carousel-figures-#{unique_id}", class: "nested"}
    .addable-group
      = f.fields_for :figures do |figure_builder|
        = render 'figures/figure_fields', f: figure_builder, options: @figure_options
    .addable.admin-submit-button
      = link_to_add_fields({ name: "Add Figures", f: f, container: "carousel-figures-#{unique_id}", association: :figures, nested: [ { association: :images } ], options: @figure_options })