= form_for @carousel, :html => { :multipart => true } do |f|
  - if @carousel.errors.any?
    #error_explanation
      %h1
        = "#{pluralize(@carousel.errors.count, "error")} prohibited this carousel from being saved:"
      %ul
        - @carousel.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset{id: "carousel-fields"}
    %legend
      Carousels

    = render "carousel_fields", f: f 

  .actions
    = f.submit 'Save'
