#admin
  %h1 Available Carousel

  - if @carousels
    %table
      %thead
        %tr
          %th Title:
          %th Figure Count:
          %th 
          %th
          %th
      %tbody
        - @carousels.each do |carousel|
          %tr
            %td= carousel.title
            %td= carousel.figures.length
            %td= link_to 'Show', carousel
            %td= link_to 'Edit', edit_carousel_path(carousel)
            %td= link_to 'Destroy', carousel, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Carousel', new_carousel_path
