#admin
  %h1 Available Carousel

  .links
    = link_to 'Add a new Carousel', new_carousel_path

  - if @carousels
    %table
      %thead
        %tr
          %th Title:
          %th Figure Count:
          %th 
      %tbody
        - @carousels.each do |carousel|
          %tr
            %td= carousel.title
            %td= carousel.figures.length
            %td.controls
              = link_to 'Show', carousel
              = link_to 'Edit', edit_carousel_path(carousel)
              = link_to 'Destroy', carousel, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Carousel', new_carousel_path
