%article#admin
  %header
    %h1 Manage Carousels

  = render "admins/admin_nav"

  %section
    %header
      .links
        = link_to 'Add a new Carousel', new_carousel_path

    %table
      %thead
        %tr
          %th Id
          %th Page
          %th Title
          %th Figures
          %th 

      %tbody
        - @carousels.each do |carousel|
          %tr
            %td= carousel.id
            %td= carousel.page.name
            %td= carousel.title
            %td
              - carousel.figures.each do |figure|
                = cl_image_tag(figure.image, transformation: 'hint', alt: figure.image)

            %td.controls
              = link_to 'Show', carousel
              = link_to 'Edit', edit_carousel_path(carousel)
              = link_to 'Destroy', carousel, method: :delete, data: { confirm: 'Are you sure?' }

    %footer
      .links
        = link_to 'Add a new Carousel', new_carousel_path
