= render "/templates/breadcrumbs" 
.page{:id=>"#{@page.template}"}
  %article
    #gallery
      #main_image
        = image_tag "products/tribeca_loft/rollingfile.jpg"
      .carousel
        %ul
          %li
            = image_tag "products/tribeca_loft/thumbs/full.jpg"
          %li
            = image_tag "products/tribeca_loft/thumbs/set.jpg"
          %li
            = image_tag "products/tribeca_loft/thumbs/handle.jpg"
    #product_details
      %header
        %hgroup
          %h1
            sku #TL202
          %h2
            Tribeca Loft Black
          %h3
            Rolling File
        #icons
          = link_to "http://pinterest.com/martinfurniture/" do 
            = image_tag "icons/pinterest.png", alt: "Pinterest"
          = link_to "https://api.twitter.com/MartinFurniture" do 
            = image_tag "icons/twitter.png", alt: "Twitter"
      %tabs
        %ul
          %li
            = link_to "Features", "#"
          %li
            = link_to "Dimensions", "#"
          %li
            = link_to "Style", "#"
          %li
            = link_to "Videos", "#"
    %footer
      %p
        You may also be interested in one of these...
      .carousel
        %ul
          %li
            = image_tag "products/tribeca_loft/related/related1.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related2.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related3.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related4.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384
          %li
            = image_tag "products/tribeca_loft/related/related5.jpg"
            .product_info
              %hgroup
                %h1
                  Tribeca Loft Black
                %h2
                  Writing Table
                %h3
                  sku #TL384