%nav#side
  %ul
    %li
      = link_to "Brand Information", "#"
    %li
      = link_to "Company", "#"
      %ul
        %li 
          = link_to "History", "#"
        %li
          = link_to "Mission", "#"
        %li
          = link_to "Our CEO", "#"
    %li
      = link_to "Sustainability Efforts", "#"
    %li
      = link_to "News Releases", "#"
    %li
      = link_to "Legal/Privacy Policy", "#"
