.page{:id=>"#{@page.template}"}
  %article
    #carousel
      .item
        = image_tag "pages/home/carousel1.jpg"
        #info
          %h1.maroon.serif Carlton
          %p.grey2
            Modern architectural flare...
            %br 
            Clean lines...
            %br
            Complements any decor...
          .right
            = link_to "#" do
              View collection
              %span.maroon »
    %aside
      %ul
        %li
          = link_to "#" do
            = image_tag "pages/home/subsection1.jpg"
        %li
          = link_to "#" do
            = image_tag "pages/home/subsection2.jpg"
        %li
          = link_to "#" do
            = image_tag "pages/home/subsection3.jpg"