%article#admin
  %header
    %h1
      Figure id: #{@figure.id}

  = render "admins/admin_nav"

  %section
    %header
      .links
        = link_to 'Back', manage_figures_path

    / %figure
    /   - @figure.images.each do |image|
    /     = cl_image_tag(image.asset.filename.to_s, transformation: "thumb", alt: "#{@figure.caption} Image", title: @figure.caption)
    /   %figcaption
    /     = @figure.caption
    /     .link
    /       = @figure.link

    %table
      %thead
        %tr
          %th Caption
          %th Link
          %th Image
          %th
      %tbody
        %tr
          %td= @figure.caption
          %td= @figure.link
          %td
            - if @figure.images.blank?
              &mdash;
            - else 
              - @figure.images.each do |image|
                = cl_image_tag(image.asset.filename.to_s, transformation: "hint", alt: "#{@figure.caption} Image", title: @figure.caption)
          %td.controls
            = link_to 'Edit', edit_figure_path(@figure)
            = link_to 'Destroy', @figure, method: :delete, data: { confirm: 'Are you sure?' }

    %footer
      .links
        = link_to 'Back', manage_figures_path
