#admin
  %table
    %thead
      %tr
        %th Caption:
        %th Link:
        %th Image:
    %tbody
      %tr
        %td= @figure.caption
        %td= @figure.link
        %td
          - if @figure.images.blank?
            &mdash;
          - else 
            - @figure.images.each do |image|
                = cl_image_tag(image.asset.filename.to_s, transformation: "thumb", alt: "#{@figure.caption} Image", title: @figure.caption)

  .links
    = link_to 'Edit', edit_figure_path(@figure)
    = link_to 'Back', manage_figures_path
