#admin
  %h1 Available Subsection

  - if @subsections
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th Name
          %th Section
          %th Template
          %th
          %th
      %tbody
      - @subsections.each do |subsection|
        %tr
          %td= subsection.id
          %td= subsection.title
          %td= subsection.name
          %td= subsection.section.title
          %td= subsection.skin.template
          %td= link_to 'Show', subsection
          %td= link_to 'Edit', edit_subsection_path(subsection)
          %td= link_to 'Destroy', subsection, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Subsection', new_subsection_path
