%article.signin
  %header
    %h1
      Forgot your password?

  %section
    %header

    .input-form
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!

        %fieldset{id: "forgot-your-password"}
          .field.required
            = f.label :email 
            = f.email_field :email, :autofocus => true 

          .field
            = f.submit "Send me reset password instructions" 

    %footer
      = render "devise/shared/links"
