- @figure_options = { header: true, removable: true }

= form_for @video do |f|
  - if @video.errors.any?
    #error-explanation
      %h1= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Video

    .field
      = f.label :url
      = f.text_field :url

  .actions
    = f.submit 'Save'