.association-group.nested-fields
  .legend
    - if f.object.id.present?
      Item
    - else
      New Item

  .container
    .fieldset
      - if f.object && f.object.id
        .field
          .field-content
            .title
              Id
            .value
              = f.object.id

                
      .field.editable.required
        .field-content
          .title
            = f.label :name
          .value
            = f.text_field :name, required: true, placeholder: "e.g.: Ruby on Rails"


    .association-groups
      .legend
        Item Link

      .item-link.container
        = f.fields_for :links do|link|
          = render 'manage/links/nested_fields', f: link

      .controls
        = link_to_add_association '+', f, :links, partial: 'manage/links/nested_fields', class: "form-button base10-admin-add-association", title: 'Add Link'

