%article.index
  %header
    .db-table-info
      .stat-group
        .stat
          .stat-content
            .title
              Total Items
            .value
              = @items.length

  %section
    .section-body
      .table-group
        .table
          .thead
            .tr
              .th Id
              .th Name
              .th

          .tbody
            - @items.each do|item|
              .tr
                .td= item.id
                .td= item.name

                .td
                  .buttons
                    = link_to 'Edit', edit_manage_item_path(item), class: "button base10-admin-edit"
                    = link_to 'Destroy', manage_item_path(item), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button base10-admin-destroy"
