= form_for @section do |f|
  - if @section.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ol
        - @section.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset{id: "section"}
    %legend
      Section

    .field
      = f.label :active
      = f.check_box :active, {checked: checked(f.object.active)}

    .field
      = f.label :parent_id, "Parent Section"
      %select{id: "section_parent_id", name: "section[parent_id]", class: "tiered"}
        %option
          Main Section / No Parent
        %optgroup{label: "Existing Sections"}
          - @sections = Section.all
          - @sections.select{ |element| element.parent_id == 0 }.each do |section|
            = render "section_select", section: section, level: -1, f: f
    
    .field
      = f.label :skin_id, "Template"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}
    
    .field
      = f.label :title
      = f.text_field :title

    .field
      = f.label :link
      = f.text_field :link

      %div.instructions.link
        (If used, "Link" will connect directly without displaying the contents of this page. Prefix "http://" to all external links. Use "/" for all internal. e.g.: "/locations")
    
    .field
      = f.cktext_area :content
    
  .actions
    = f.submit 'Save'
