.project-block{id: "#{block.slug}"}
  - if block.figures.present?
    = link_to_if_linked(block) do
      .project-image{style: "background-image: url('#{cloudinary_url(block.figures.last.cl_asset, dpr: :auto, responsive_placeholder: "blank")}');"}

  .project-info
    .project-title
      = link_to_if_linked(block) do
        = block.name

    = raw block.content

    - block.children.each do|sub_section|
      = render partial: "/sections/content_block", locals: { block: sub_section }