#admin
  %table
    %thead
      %tr
        %th Name:
        %th Title:
        %th Link:
    %tbody
      %tr
        %td= @section.name
        %td= @section.title
        %td= @section.link

  .links
    = link_to 'Edit', edit_section_path(@section)
    = link_to 'Back', manage_sections_path
