%article#admin
  = render "layouts/partials/admin_nav", title: "Users"

  %section
    %header
      / %h1 Users

      .links
        = link_to 'Add New user', new_admins_user_path

    - if @users
      %table
        %thead
          %tr
            %th Id
            %th Name
            %th Company
            %th Phone
            %th Email
            %th Access Expiration
            %th
        %tbody
          - @users.each do |user|
            %tr{class: ("inactive" unless user.expiration.to_time > Time.now)}
              %td.center
                = user.id
              %td.nowrap
                = user.full_name
              %td.nowrap
                = user.company
              %td.nowrap
                = number_to_phone(user.phone, area_code: true)
              %td
                = mail_to user.email
              %td.nowrap
                = user.expiration
              %td.controls
                =# link_to 'Show', admin_user
                = link_to 'Edit', edit_admins_user_path(user)
                = link_to 'Destroy', admins_user_destroy_path(user), method: :delete, data: { confirm: 'Are you sure?' }

    .links
      = link_to 'Add New user', new_admins_user_path
