= form_for @finish, :html => { :multipart => true } do |f|
  - if @finish.errors.any?
    #error_explanation
      %h1= "#{pluralize(@finish.errors.count, "error")} prohibited this finish from being saved:"
      %ul
        - @finish.errors.full_messages.each do |msg|
          %li= msg

  %fieldset{id: "finishes"}
    .field
      = f.label :title
      = f.text_field :title

    #finish-image.images
      = f.fields_for :image do |image_builder|
        = render 'images/image_fields', f: image_builder

  .actions
    = f.submit 'Save'

