= render "layouts/partials/user_side_nav"

#admin
  %h1 Available Finish

  .links
    = link_to 'Add a new Finish', new_finish_path

  - if @finishes
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th List Image
          %th
      %tbody
        - @finishes.each do |finish|
          %tr
            %td= finish.id
            %td= finish.title
            %td
              - if finish.images.blank?
                &mdash;
              - else
                = cl_image_tag(finish.images.first.asset.filename.to_s, transformation: "hint", alt: "#{finish.title} Image", title: finish.title)

            %td.controls
              = link_to 'Show', finish
              = link_to 'Edit', edit_finish_path(finish)
              = link_to 'Destroy', finish, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Finish', new_finish_path