- if @compilation.skus
  = render "/skus/breadcrumbs", product: @compilation

- @gallery_items = @compilation.images
- @compilation.skus.each do |gallery_sku|
  - @gallery_items + gallery_sku.images

.page{:id=>"#{@compilation.skin.name}"}
  %article
    .gallery#product-views
      .gallery-image
        = cl_image_tag(@gallery_items.first.asset.filename.to_s, transformation: "gallery", alt: @gallery_items.first.asset.filename.to_s, title: @compilation.title)
        %br
        .image-controls
          #enlarge
            = link_to "#" do 
              = render :partial => '/layouts/svg/enlarge'
              View Larger Image
        .image-controls.text-align-right
          #zoom
            = link_to "Roll Over Image To Zoom", "#"
      .scroller
        .control.previous
          = link_to "#" do
            = render :partial => '/layouts/svg/arrow_left'
        .items-container
          %ul
            - @gallery_items.each do |item|
              %li
                .image-container
                  %span.helper
                  = link_to "#" do
                    = cl_image_tag(item.asset.filename.to_s, transformation: "scroller", alt: item.asset.filename.to_s, :"data-medium" => cloudinary_url(item.asset.filename.to_s, transformation: "gallery"), :"data-large" => cloudinary_url(item.asset.filename.to_s, transformation: "large"))

        .control.next
          = link_to "#" do
            = render :partial => '/layouts/svg/arrow_right'
    #product-details
      %header
        %hgroup
          %h1 
            - if @compilation.skus.length > 1
              skus
            - else
              sku

            - @compilation.skus.each do |sku|
              %span.comma= link_to "##{sku.title}", sku_path
          %h2
            = @compilation.collection.title 
            = @compilation.finish.title if @compilation.include_finish_name
          %h3
            = @compilation.title
        #icons
          = link_to "#" do 
            = render :partial => '/layouts/svg/share'
          = link_to "#", class: "print" do 
            = render :partial => '/layouts/svg/print'
      #tabs
        %ul#product_tabs.nav.nav-tabs{"data-tabs" => "tabs"}
          %li.active
            %a.gradient{"data-toggle" => "tab", :href => "#features"} Features
          %li
            %a.gradient{"data-toggle" => "tab", :href => "#dimensions"} Dimensions
          %li
            %a.gradient{"data-toggle" => "tab", :href => "#style"} Style
          %li
            %a.gradient{"data-toggle" => "tab", :href => "#videos"} Videos

        .tab-content
          #features.tab-pane.active
            %div
              - @compilation.products.each do |product|
                %div
                  %h1= product.title
                  = raw product.features
                  %ul
                    - product.brands.each do |brand|
                      - if !brand.images.blank?
                        %li
                          = cl_image_tag(brand.images.first.asset.filename.to_s, alt: brand.title)
                
            .finishes
              / - if @compilation.skus.length > 1
              /   %div
              /     %h1
              /       Also available in
              /     %ul
              /       - @compilation.skus.each do |sku|
              /         - if sku != @compilation.skus
              /           %li
              /             - if sku.finish.image.first
              /               = link_to product_sku_path(@compilation, sku) do
              /                 = cl_image_tag(sku.finish.image.first.asset.filename.to_s, transformation: 'thumb', alt: sku.finish.title)

              - unless @compilation.skus.first.product.categories.blank?
                %div
                  %h1 #{@compilation.skus.first.product.collection.title} is also available in
                  %ul
                    - @compilation.skus.first.product.categories.each do |category|
                      %li
                        = link_to category.title, category_path(category.id)

          #dimensions.tab-pane
            - @compilation.products.each do |product|
              %h1
                = product.title
              %ul
                - product.dimensions.each do |dimension|
                  %li
                    %span.title
                      = dimension.title
                    %span.specs
                      = dimension.width
                      w x
                      = dimension.height
                      h x
                      = dimension.depth
                      d
                    - if dimension.image.length > 0
                      - dimension.image.each do |asset|
                        = cl_image_tag(asset.filename.to_s, transformation: 'thumb', alt: "Dimensions")
              
          #style.tab-pane
            = raw @compilation.collection.description 
            - @compilation.collection.styles.each do |style| 
              %div   
                = raw style.description 

          #videos.tab-pane
            %h1 Features of #{@compilation.collection.title} #{@compilation.finish.title} 
            %p 
              This can be some text about sharing the video or something

            - @compilation.products.each do |product|
              - if product.video && product.video != ""
                %iframe{:width => "420", :height => "267", :src => product.video, :frameborder => "0", :allowfullscreen => ""}
        
    %footer
      %h1#rubric
        You may also be interested in one of these...
      .gallery#related-products
        .scroller
          .control.previous
            = link_to "#" do
              = render :partial => '/layouts/svg/arrow_left'
          .items-container
            %ul
              - @related.each_with_index do |related_product, index|
                - if related_product.id != @compilation.id && related_product.show == true
                  %li
                    = link_to related_product.path, { title: related_product.title } do
                      = cl_image_tag(related_product.list_image.asset.filename.to_s, transformation: "related", alt: related_product.list_image.asset.filename.to_s, title: related_product.skus.first.title)
                    .product-info
                      %hgroup
                        %h1 
                          = link_to related_product.path do
                            #{related_product.collection.title} #{related_product.skus.first.finish.title}
                        %h2
                          = link_to related_product.path do
                            = related_product.title
                        %h3
                          = link_to related_product.path do
                            sku ##{related_product.skus.first.title}
          .control.next
            = link_to "#" do
              = render :partial => '/layouts/svg/arrow_right'
