- unless @message 
  - @message = Message.new

= render "layouts/partials/side_nav", elements: @side_nav_elements

.page#section
  %article
    %header
      %h1
        = @page.title
    #page-body
      = raw @page.content

    - if defined?(notice) && notice != ""
      .messages
        = notice

    = form_for @message do |f|
      - if @message.errors.any?
        #error-explanation
          %h1
            = "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:"
          %ol
            - @message.errors.full_messages.each do |msg|
              %li
                = msg

      %fieldset
        %input{ type: "hidden", name: "section_id", value: @page.id }

        %legend
          Talk to us
          
        .field
          = f.label :name, "Full Name"
          = f.text_field :name

        .field
          = f.label :email, {class: "required"}
          = f.text_field :email

        .field
          = f.label :phone
          = f.text_field :phone

        .field
          = f.label :subject, "Email Subject", {class: "required"}
          = f.text_field :subject

        .field
          = f.label :content, "Comments", {class: "required"}
          = f.text_area :content, { maxlength: 500 }
        
      .actions
        = f.submit 'Submit'
