- if @sku
  = render "layouts/partials/breadcrumbs", product: @product, sku: @sku

.page{:id=>"#{@product.skin.name}"}
  %article
    = render "layouts/partials/gallery", items: @product.gallery_items(@sku), title: @product.title

    #product-details
      %header
        %hgroup
          %h1 
            sku ##{@sku.title}
          %h2
            = association(@product, @sku.finish)
          %h3
            = @product.title
        #icons
          = link_to "#", :"data-toggle" => "tooltip", title: "#{render 'layouts/partials/tooltip'}", class: "tt" do 
            = render :partial => '/layouts/svg/share'
          = link_to "#", class: "print" do 
            = render :partial => '/layouts/svg/print'

      = render "layouts/partials/product_tabs", product_object: @product, videos: @product.videos, feature_set: [@product], collection: @product.collection, categories: @product.collection.categories

    - unless @related.blank?
      = render "layouts/partials/product_footer", finish: @sku.finish
