= form_for @sku, :html => { :multipart => true } do |f|
  - if @sku.errors.any?
    #error_explanation
      %h1= "#{pluralize(@sku.errors.count, "error")} prohibited this sku from being saved:"
      %ul
        - @sku.errors.full_messages.each do |msg|
          %li= msg

  %fieldset{id: "skus"}
    %legend
      Skus
      
    .field
      = f.label :title
      = f.text_field :title

    .field
      = f.label :finish_id, "Finish"
      = f.select :finish_id, Finish.all.collect{|t| [t.title, t.id]}

    #sku-image.images.removable
      = f.fields_for :images do |image_builder|
        = render 'images/image_fields', f: image_builder
    .addable
      = link_to_add_fields "Add Image", f, :images, "sku-image"
      

  .actions
    = f.submit 'Save'
