%table
  %thead
    %tr
      %th Selected:
      %th Title:
      %th Finish: 
      %th Images:
      %th

  %tbody
    = hidden_field_tag "compilation[sku_ids][]", nil

    - skus.each do |sku|
      %tr
        %td
          = check_box_tag "compilation[sku_ids][]", sku.id, (sku_ids.include?(sku.id) unless sku_ids.blank?), id:dom_id(sku)
        %td.checkbox
          = label_tag dom_id(sku), sku.title
        %td
          - if sku.finish.images.blank?
            = sku.finish.title
          - else
            = cl_image_tag(sku.finish.images.first.asset.filename.to_s, transformation: 'hint', alt: "Finish thumbnail", title: sku.finish.title)
        %td
          - sku.images.each do |image|
            = cl_image_tag(image.asset.filename.to_s, transformation: 'hint', alt: "Sku thumbnail", title: sku.title)
            
        %td.controls
          = link_to 'Show', sku
          = link_to 'Edit', edit_product_path(sku.product)
          = link_to 'Destroy', sku, method: :delete, data: { confirm: 'Are you sure?' }