- @unique_id = randomNum

.active
  - if local_assigns.has_key? :options
    - if options[:header]
      %h2
        Sku Info
        - if options[:removable]
          = link_to_remove_fields f

  .field
    = f.label :finish_id, "Finish"
    = f.select :finish_id, Finish.all.collect{|t| [t.title, t.id]}

  .field
    = f.label :title, "Sku Number"
    = f.text_field :title

  %div{id: "sku-image-#{@unique_id}"}
    .addable-group.images
      = f.fields_for :images do |image_builder|
        = render 'images/image_fields', f: image_builder
    .addable
      = link_to_add_fields({ name: "Add Images", f: f, association: :images, container: "sku-image-#{@unique_id}" })