#admin
  %h1 Available Sku

  - if @skus
    %table
      %thead
        %tr
          %th Title:
          %th Finish: 
          %th Images:
          %th
          %th
          %th
      %tbody
      - @skus.each do |sku|
        %tr
          %td= sku.title
          %td= sku.finish.title
          %td= sku.images.length
          %td= link_to 'Show', sku
          %td= link_to 'Edit', edit_sku_path(sku)
          %td= link_to 'Destroy', sku, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Sku', new_sku_path
