#admin
  %h1 Available Sku

  .links
    = link_to 'Add a new Sku', new_sku_path

  - if @skus
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th Finish 
          %th Images
          %th
      %tbody
        - @skus.each do |sku|
          %tr
            %td= sku.id
            %td= sku.title
            %td
              - if sku.finish.images.blank?
                = sku.finish.title
              - else 
                = cl_image_tag(sku.finish.images.first.asset.filename.to_s, transformation: 'hint', alt: "#{sku.finish.title} Image", title: sku.finish.title)
            %td
              - sku.images.each do |image|
                = cl_image_tag(image.asset.filename.to_s, transformation: 'hint', alt: image.asset.filename.to_s)
            %td.controls
              = link_to 'Show', sku
              = link_to 'Edit', edit_sku_path(sku)
              = link_to 'Destroy', sku, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Sku', new_sku_path
