- unique_id ||= randomNum
- @carousel_options = { header: false, removable: false }
- @figure_options = { header: true, removable: true }

= form_for @page do |f|
  - if @page.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ol
        - @page.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend
      Page

    .field.required
      = f.label :title
      = f.text_field :title

    .field
      = f.cktext_area :content


  %fieldset{id: "carousels-fields"}
    %legend
      Carousel

    #carousels
      .addable-group
        = f.fields_for :carousels, false do |carousel|
          = render 'carousels/carousel_fields', f: carousel, options: @carousel_options
      .addable.admin-button
        = link_to_add_fields({ name: "Add Carousel", f: f, association: :carousels, nested: [ { association: :figures, nested: [ { association: :images } ] } ],  container: "carousels",  options: @carousel_options })


  %fieldset{id: "figures-fields"}
    %legend
      Figures

    #figures.nested
      .addable-group
        = f.fields_for :figures, false do |figure|
          = render 'figures/figure_fields', f: figure, options: @figure_options
      .addable.admin-button
        = link_to_add_fields({ name: "Add Figure", f: f, association: :figures, nested: [ { association: :images } ], container: "figures", options: @figure_options })
      
  .actions
    = f.submit 'Save'


