= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h1= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :skin_id
    = f.select :skin_id, Skin.all.collect{|t| [t.name, t.id]}
  .field
    = f.label :header
    = f.text_field :header
  .actions
    = f.submit 'Save'
