- @unique_id = randomNum
- @figure_options = { header: true, removable: true }

= form_for @page do |f|
  - if @page.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend
      Page

    .field
      = f.label :skin_id, "Template"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}

    .field
      = f.label :title
      = f.text_field :title

    .field
      //= f.label :content
      = f.cktext_area :content

  %fieldset{id: "image-fields"}
    %legend
      Images

    .active
      %div{id: "page-image-#{@unique_id}"}
        .addable-group.images
          = f.fields_for :images do |image_builder|
            = render 'images/image_fields', f: image_builder
        .addable.button
          = link_to_add_fields({ name: "Add Images", f: f, association: :images, container: "page-image-#{@unique_id}" })


  %fieldset{id: "figures-fields"}
    %legend
      Figures

    #figures.nested
      .addable-group
        = f.fields_for :figures, false do |figure|
          = render 'figures/figure_fields', f: figure, options: @figure_options
      .addable.button
        = link_to_add_fields({ name: "Add Figure", f: f, association: :figures, container: "figures", child_association: :image, options: @figure_options })
      
  .actions
    = f.submit 'Save'


