= form_for @page do |f|
  - if @page.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend
      Page

    .field
      = f.label :subsection_id, "Subsection"
      = f.select :subsection_id, Subsection.all.collect{|t| [t.title, t.id]}
      
    .field
      = f.label :skin_id, "Template"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}

    .field
      = f.label :title
      = f.text_field :title

    .field
      //= f.label :content
      = f.cktext_area :content
    .actions
      = f.submit 'Save'


