#admin
  %h1 Listing pages

  - if @pages
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th Template
          %th
          
      %tbody
        - @pages.each do |page|
          %tr
            %td= page.id
            %td= page.title
            %td= page.skin.title
            %td
              = link_to 'Show', page
              - if can? :update, @page
                |
                = link_to 'Edit', edit_page_path(page)
                |
                = link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }
            
  - if can? :update, @page
    .links
      = link_to 'New Page', new_page_path
