%main
  %blockquote
    %p
      “Design must reflect the practical and aesthetic in business, but above all,

      good design must primarily serve people.”
    
    %footer
      %cite
        Thomas J. Watson

  .section-group
    %section#about
      %header
        %h1
          about
      .content-block
        %h2
          background
        %p
          Developer with over ten years of professional experience. Detail orientated, end-user focused, and a passion for solving complex problems. Experienced in system architecture, UX design, ad trafficking, as well as a background in both healthcare and consumer advertising

      .content-block
        %h2
          development philosophy
        %p
          Strive to create systems which are well-designed, intuitive, and responsive

      .content-block
        %h2
          certifications
        %p
          DoubleClick QA, Google Web Designer, Apple Certified Technician

    %section#tools
      %header
        %h1
          tools
      .content-block
        %h2
          current crushes
        %p
          ruby / rails, javascript / angular, sql, css, html, puma

      .content-block
        %h2
          old flames
        %p
          php, actionscript / flash, apache, photoshop, illustrator

      .content-block
        %h2
          flings
        %p
          node, express, redis, wordpress

      .content-block
        %h2
          testing the waters
        %p
          react, aurelia, swift, aws


  %section#work
    %header
      %h1
        work
    .project-block#martinfurniture
      = link_to "http://www.martinfurniture.com", target: "_blank" do
        .project-image

      .project-info
        .project-title
          = link_to "http://www.martinfurniture.com", target: "_blank" do
            MartinFurniture.com
        %h3
          summary
        %p
          After having developed the previous version of Martin Furniture's website in 2013, Martin returned for a site-wide overhaul in 2016. Working with the lead designer and the head of sales, the website was updated, with standardized product information to include features, materials, and finishes. A product filter was also added to allow easier sorting and navigation of their product catalog, along with streamlining the code base, and updating their custom CMS. As part of the next phase, a shopping cart system is currently being developed, which will allow Martin Furniture to sell close out items directly to consumers. 

        .project-features
          %h3
            features
          %ul
            %li
              custom CMS
            %li
              product filter
            %li
              dealer locator
            %li
              CDN image hosting

        .project-tech
          %h3
            technology
          %ul
            %li
              ruby 2.4
            %li
              rails 4.2
            %li
              jquery 3.2
            %li
              CSS3 / Flexbox
            
    .project-block#skope
      = link_to "#", class: "null-link" do
        .project-image

      .project-info
        .project-title
          S.K.O.P.E. &mdash; Spectrum Kitchens On-line Pricing Estimator
        %h3
          summary
        %p
          Spectrum Kitchens needed to upgrade their aging Excel-based estimation application and 
          wanted a more feature rich and user friendly web-based application. This project was an 
          enormous undertaking which required learning the intricacies of their estimation procedure, 
          conceptualizing a database, designing all new layouts, and working closely with users to ensure 
          that no functionality was overlooked. The result was an application which was an order of 
          magnitude more efficient than their previous solution, allowing estimates to be generated in 
          a fraction of the time. By hosting the application in the cloud, multiple users are now able 
          to work on an estimate at the same time and access the system from anywhere. 

        .project-features
          %h3
            features
          %ul
            %li
              Single Page Application
            %li
              fully customized UX
            %li
              decentralized data storage

        .project-tech
          %h3
            technology
          %ul
            %li
              ruby 2.4
            %li
              rails 4.2
            %li
              angularjs 1.4
            %li
              CSS3 / Flexbox

    .project-block#colinparent
      = link_to "http://www.colinparent.org", target: "_blank" do
        .project-image
      .project-info
        .project-title
          = link_to "http://www.colinparent.org", target: "_blank" do
            ColinParent.org
        %h3
          summary
        %p
          When one of my oldest, closest friends announced that he was running 
          for public office, he needed help with his on-line presence. After 
          setting up a basic page with NationBuilder.com, I worked on branding 
          his campaign. This included creating a color scheme, designing a logo, 
          and working within NationBuilder's platform to implement the style guide. 
          Colin's on-line presence far out-paced his competition and as a result, 
          he is now the newest member of the La Mesa City Council. 

        .project-features
          %h3
            features
          %ul
            %li
              custom logo
            %li
              branding
            %li
              and design of various other campaign materials 


        .project-tech
          %h3
            technology
          %ul
            %li
              NationBuilder.com Platform
            %li
              Javascript
            %li
              CSS

    .project-block#interiahospitality
      = link_to "http://www.interiahospitality.com", target: "_blank" do
        .project-image
      .project-info
        .project-title
          = link_to "http://www.interiahospitality.com", target: "_blank" do
            InteriaHospitality.com
        %h3
          summary
        %p
          Interia Hospitality designs and manufactures art and casegoods for
          the hospitality industry. If you've ever stayed in a hotel, chances
          are it was furnished by Interia. This project arose from the need
          to make their product catalog more visible and reach a wider audience,
          as well as showcase their latest lines. 

        .project-features
          %h3
            features
          %ul
            %li
              custom CMS
            %li
              private rep document repo

        .project-tech
          %h3
            technology
          %ul
            %li
              ruby 2.3
            %li
              rails 3.2
            %li
              jquery 1.11
            %li
              CSS3 / Flexbox

    .project-block#freshandhealthy
      = link_to "http://www.freshandhealthy.org", target: "_blank" do
        .project-image
      .project-info
        .project-title
          = link_to "http://www.freshandhealthy.org", target: "_blank" do
            FreshAndHealthy.org
        %h3
          summary
        %p
          Fresh & Healthy is a subsidiary of Fresh Vending, a company which strives
          to provide fresh, nutritious alternatives to standard vending machine fare. 
          FreshAndHealthy.org is one of a handful of sites developed for different, 
          targeted markets. The goal of FreshAndHealthy.org is to promote healthier options
          in our schools, universities, and places of business. 

        .project-features
          %h3
            features
          %ul
            %li
              custom CMS
            %li
              svg images
            %li
              Zoho.com CRM integration 

        .project-tech
          %h3
            technology
          %ul
            %li
              ruby 2.0
            %li
              rails 3.2
            %li
              jquery 1.11

    .project-block#physicianfinder
      = link_to "#", class: "null-link" do
        .project-image

      .project-info
        .project-title
          Physician Finder &mdash; DMA Filter
        %h3
          summary
        %p
          The account team at Scout Marketing was utilizing an extensive Excel file
          with thousands of zip codes that needed to be organized by DMA and with physician 
          and patient information layered in.  This led to errors and inconsistencies.
          The Physician Finder was developed so that the account team was able to quickly 
          and accurately identify physicians and patients in various DMA regions. 

        .project-features
          %h3
            features
          %ul
            %li
              csv import / export functionality
            %li
              user login gateway


        .project-tech
          %h3
            technology
          %ul
            %li
              ruby 2.3
            %li
              rails 3.2
            %li
              jquery 1.11


    / Ads
    %span.separator

    .project-block#franklin_templeton
      = link_to "http://base10proofs.info/portfolio/banners/franklin_templeton/970x415/", target: "_blank" do
        .project-image
      .project-info
        .project-title
          Franklin Templeton Investment &mdash; Push-Down Ad
        %h3
          summary
        %p
          This non-standard size rich media ad for Franklin Templeton utilizes dynamic type 
          animation for a fast-paced, vibrant experience. 

        .project-tech
          %h3
            technology
          %ul
            %li
              html5
            %li
              javasctipt / GSAP
            %li
              DoubleClick

    .project-block#emirates
      = link_to "http://base10proofs.info/portfolio/banners/emirates/1045x600/", target: "_blank" do
        .project-image
      .project-info
        .project-title
          Emirates Airlines &mdash; Expandable Ad
        %h3
          summary
        %p
          Since 2015, Dubai Tourism has been engaged in a multi-national, 
          aggressive marketing initiative promoting a mix of the cultural, historical,
          and modern dualities of their city. As part of this effort, these series of ads
          contrasts the modern and ancient attractions offered by this exciting 
          and rapidly evolving nation.

        .project-tech
          %h3
            technology
          %ul
            %li
              html5
            %li
              javasctipt / GSAP
            %li
              DoubleClick
  
    .project-block#hp
      = link_to "http://base10proofs.info/portfolio/banners/hp/300x600/", target: "_blank" do
        .project-image
      .project-info
        .project-title
          Hewlett Packard &mdash; Expandable Ad
        %h3
          summary
        %p
          HP Enterprise targets major players in the tech industry. As part
          of an effort to showcase how their technology can give businesses
          an edge in the ever changing tech sector; this feature-rich banner 
          highlights their key offerings while utilizing clean design.

        .project-tech
          %h3
            technology
          %ul
            %li
              html5
            %li
              javasctipt / GSAP
            %li
              DoubleClick
  
    .project-block#visa
      = link_to "http://base10proofs.info/portfolio/banners/visa/300x250/", target: "_blank" do
        .project-image
      .project-info
        .project-title
          Visa &mdash; Super Bowl 50 Ad
        %h3
          summary
        %p
          This was a fun ad with a quick turn around for Visa and 
          football fans as the teams for Super Bowl 50 fought for 
          the opportunity to take home the championship. It utilized
          a number of animations to promote the numerous new ways consumers
          can utilize their credit cards, while tying it to the Super Bowl.

        .project-tech
          %h3
            technology
          %ul
            %li
              html5
            %li
              javasctipt / GSAP
            %li
              DoubleClick

    .project-block#xyrem
      = link_to "http://base10proofs.info/portfolio/banners/xyrem/300x600/", target: "_blank" do
        .project-image
      .project-info
        .project-title
          Xyrem &mdash; Branded Ad
        %h3
          summary
        %p
          Xyrem is the only FDA approved medication for the treatment of 
          excessive daytime sleepiness and cataplexy in narcolepsy. 
          The objective of the ad was to create awareness and interest in the 
          medication and highlight its mechanism of action.

        .project-tech
          %h3
            technology
          %ul
            %li
              html5
            %li
              javasctipt / GSAP
            %li
              DoubleClick



  %section#contact
    %header
      %h1
        contact
    .content-block
      %p
        = mail_to "eric@base10creations.com", "eric@base10creations.com"
      %p
        = link_to "www.linkedin.com/in/ericnorcross", "http://www.linkedin.com/in/ericnorcross"
        = link_to "www.github.com/eric-norcross", "http://www.github.com/eric-norcross"
      %p
        %span.tel{data: {type: "cell"}}
          (619) 750-3656
        %span.tel{data: {type: "office"}}
          (415) 513-5167