%article#admin
  %header
    %h1 Manage Pages

  = render "admins/admin_nav"

  %section
    %header
      .links
        = link_to 'New Page', new_page_path

    %table
      %thead
        %tr
          %th Id
          / %th Shown
          / %th Order
          %th Name
          %th Title
          %th URL
          %th Template
          / %th Image
          %th

      %tbody
        - @pages.each do |page|
          %tr
            %td= page.id
            / %td= check_box_tag 'shown', 'shown', page.shown, {disabled: true}
            / %td= page.order.present? ? page.order : "n/a"
            %td= page.name.present? ? page.name : "n/a"
            %td= page.title.present? ? page.title : "n/a"
            %td &#47;#{page.slug}
            %td= page.skin.template
            %td
              - page.carousels.each do |carousel|
                - carousel.figures.each do |figure|
                  = cl_image_tag(figure.image, transformation: 'hint', alt: figure.image)

            %td.controls
              = link_to 'Show', page
              = link_to 'Edit', edit_page_path(page)
              = link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %footer
      .links
        = link_to 'New Page', new_page_path