= form_for @style do |f|
  - if @style.errors.any?
    #error_explanation
      %h1= "#{pluralize(@style.errors.count, "error")} prohibited this style from being saved:"
      %ul
        - @style.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Style

    .field
      = f.label :title
      = f.text_field :title

    .field
      / = f.label :description
      = f.cktext_area :description

  %fieldset
    %legend
      Collections
      
    .field
      .column
        .column-group
          - @collections = Collection.all
          - if @collections.length > 0
            - @collections.each_slice(@collections.length/3) do |column|
              .column
                .column-group
                  - column.each do |collection|
                    .checkbox
                      = check_box_tag "collection#{collection.id}", collection.id, @style.collections.include?(collection), :name => 'style[collection_ids][]'
                      = label_tag "collection#{collection.id}", collection.title

    
      
    .actions
      = f.submit 'Save'
