= form_for @style do |f|
  - if @style.errors.any?
    #error_explanation
      %h1= "#{pluralize(@style.errors.count, "error")} prohibited this style from being saved:"
      %ul
        - @style.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Style

    .field.required
      = f.label :title
      = f.text_field :title

    #style-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.admin-button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "style-image" })

    .field
      = f.cktext_area :description

  %fieldset
    %legend.required
      Collections
      
    .field
      .column
        .column-group
          - @collections.each_slice(@collections.length/@slice_size) do |column|
            .column
              .column-group
                - column.each do |collection|
                  .checkbox
                    = check_box_tag "collection#{collection.id}", collection.id, @style.collections.include?(collection), :name => 'style[collection_ids][]'
                    = label_tag "collection#{collection.id}", collection.title

    
      
    .actions
      = f.submit 'Save'
