= render "layouts/partials/admin_side_nav"

#admin
  %h1 Available Style

  - if @styles
    %table
      %thead
        %tr
          %th Id
          %th Title
          /%th Category
          %th
      %tbody
        - @styles.each do |style|
          %tr
            %td= style.id
            %td= style.title
            /%td= style.category.title
            %td= link_to 'Show', style
            %td= link_to 'Edit', edit_style_path(style)
            %td= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Style', new_style_path
