= render "layouts/partials/user_side_nav"

#admin
  %h1 Available Style

  .links
    = link_to 'Add a new Style', new_style_path

  - if @styles
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th List Image
          %th
      %tbody
        - @styles.each do |style|
          %tr
            %td= style.id
            %td= style.title
            %td
              - if style.images.blank?
                n/a
              - else
                = cl_image_tag(style.images.first.asset.filename.to_s, transformation: "hint", alt: style.images.first.asset.filename.to_s, title: style.title)
            %td.controls
              = link_to 'Show', style
              = link_to 'Edit', edit_style_path(style)
              = link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Style', new_style_path
