= form_for @skin do |f|
  - if @skin.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@skin.errors.count, "error")} prohibited this skin from being saved:"
      %ul
        - @skin.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend
      Skin
      
    .field
      = f.label :title
      = f.text_field :title

    .field
      = f.label :template
      = f.text_field :template
      %span.instructions
        (e.g.: layouts/templates/product)
    
  .actions
    = f.submit 'Save'
