= render "layouts/partials/user_side_nav"

#admin
  %h1 Editors

  .links
    = link_to 'Add New editor', new_editor_path

  - if @editors
    %table
      %thead
        %tr
          %th Username/Email
          %th
      %tbody
        - @editors.each do |editor|
          %tr
            %td= editor.email
            %td.controls
              / = link_to 'Show', editor
              / = link_to 'Edit', edit_editor_path(editor)
              = link_to 'Destroy', destroy_editor_path(editor), method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New editor', new_editor_path
