.page{:id=>"#{@page.skin.name}"}
  %article
    #main_carousel.carousel.slide
      .center
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#mainCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#mainCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#mainCarousel"}
          %li{"data-slide-to" => "3", "data-target" => "#mainCarousel"}
          %li{"data-slide-to" => "4", "data-target" => "#mainCarousel"}
      / Carousel items
      .carousel-inner
        .active.item
          = image_tag "pages/home/carousel1.jpg"
        .item
          = image_tag "pages/home/carousel1.jpg"
        .item
          = image_tag "pages/home/carousel1.jpg"
        .item
          = image_tag "pages/home/carousel1.jpg"
        .item
          = image_tag "pages/home/carousel1.jpg"

      / Carousel nav
      / %a.carousel-control.left{"data-slide" => "prev", :href => "#mainCarousel"} ‹
      / %a.carousel-control.right{"data-slide" => "next", :href => "#mainCarousel"} ›
    
    %aside
      %ul
        %li
          = link_to "#" do
            = image_tag "pages/home/subsection1.jpg"
        %li
          = link_to "#" do
            = image_tag "pages/home/subsection2.jpg"
        %li
          = link_to "#" do
            = image_tag "pages/home/subsection3.jpg"