= render "templates/side_nav", :page => @page
.page{:id=>"#{@product.skin.template}"}
  %article
    %ul
      %li
        .collection-image
          = link_to "#" do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"
      %li
        .collection-image
          = link_to root_path do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"
      %li
        .collection-image
          = link_to root_path do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"
      %li
        .collection-image
          = link_to root_path do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"
      %li
        .collection-image
          = link_to root_path do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"
      %li
        .collection-image
          = link_to root_path do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"
      %li
        .collection-image
          = link_to root_path do
            = image_tag "categories/bedroom/beds/Bedford.jpg"
        .collection-info
          %h1.collection
            = link_to "Bedford", "#"
          %h2.component
            = link_to "Bed", "#"
          %h3.finish
            sku#
          %ul
            %li
              = link_to "3701Q", "#"
            %li
              = link_to "3701EK", "#"
            %li
              = link_to "301CK", "#"

