= render "/products/templates/breadcrumbs" 
.page{:id=>"#{@product.skin.name}"}
  %article
    .gallery#product_views
      .gallery_image
        = image_tag "products/tribeca_loft/rollingfile.jpg"
        %br
        .image_controls
          = link_to "#" do 
            = render :partial => '/layouts/svg/enlarge'
            View Larger Image
        .imageControls.text_align_right
          = link_to "Roll Over Image To Zoom", "#"
      .scroller
        .control.previous
          = link_to "#" do
            = render :partial => '/layouts/svg/arrow_left'
        .items_container
          %ul
            %li
              = link_to "#" do
                = image_tag "products/tribeca_loft/thumbs/set.jpg", :"data-medium" => asset_path("products/tribeca_loft/rollingfile.jpg"), :"data-large" => asset_path("products/tribeca_loft/thumbs/set.jpg")
            %li
              = link_to "#" do
                = image_tag "products/tribeca_loft/thumbs/2.jpg", :"data-medium" => asset_path("products/tribeca_loft/gallery/2.jpg"), :"data-large" => asset_path("products/tribeca_loft/thumbs/full.jpg")
            %li
              = link_to "#" do
                = image_tag "products/tribeca_loft/thumbs/3.jpg", :"data-medium" => asset_path("products/tribeca_loft/gallery/3.jpg"), :"data-large" => asset_path("products/tribeca_loft/thumbs/full.jpg")
            %li
              = link_to "#" do
                = image_tag "products/tribeca_loft/thumbs/4.jpg", :"data-medium" => asset_path("products/tribeca_loft/gallery/4.jpg"), :"data-large" => asset_path("products/tribeca_loft/thumbs/full.jpg")
            %li
              = link_to "#" do
                = image_tag "products/tribeca_loft/thumbs/5.jpg", :"data-medium" => asset_path("products/tribeca_loft/gallery/5.jpg"), :"data-large" => asset_path("products/tribeca_loft/thumbs/full.jpg")

        .control.next
          = link_to "#" do
            = render :partial => '/layouts/svg/arrow_right'
    #product_details
      %header
        %hgroup
          %h1 
            sku ##{@product.sku}
          %h2
            Tribeca Loft Black
          %h3
            Rolling File
        #icons
          = link_to "#" do 
            = image_tag "icons/share.png", alt: "Share"
          = link_to "#" do 
            = image_tag "icons/print.png", alt: "Print"
      #tabs
        %ul#product_tabs.nav.nav-tabs{"data-tabs" => "tabs"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#features"} Features
          %li
            %a{"data-toggle" => "tab", :href => "#dimensions"} Dimensions
          %li
            %a{"data-toggle" => "tab", :href => "#style"} Style
          %li
            %a{"data-toggle" => "tab", :href => "#videos"} Videos

        .tab-content
          #features.tab-pane.active
            %div
              %ul
                %li Casters included (not attached)
                %li Utility drawer
                %li Letterfile drawer
                %li Finished on all sides
                %li 
                  = link_to "Superior drawer construction", "#"
                %li 
                  = link_to "#" do 
                    = image_tag "pages/placeholders/KI_logo.png", alt: "Kathy Ireland Home"
            .finishes
              %div
                %h1
                  Also available in
                %ul
                  %li
                    = image_tag "pages/placeholders/finish1.png", alt: "Finish 1"
                  %li
                    = image_tag "pages/placeholders/finish2.png", alt: "Finish 2"
              %div
                %h1
                  Tribeca Loft Black is also available in
                %ul
                  %li
                    = link_to "Entertainment", "#"

          #dimensions.tab-pane
            %h1
              %span Overall Dimensions 
              17w x 22.25h x 20d

            %h1
              %span Utility Drawer 
              00w x 00h x 00d

            %h1
              %span File Drawer
              00w x 00h x 00d

            = image_tag "pages/placeholders/dimensions.png", alt: "Dimensions"

          #style.tab-pane
            %p.serif
              Inspired by the kathy ireland Home™ Architectural Style Guide™, Tribeca Loft Black is a lifestyle design consistent with urban furniture trends. This furniture collection offers a midnight smoke painted finish with hand-rubbed edges to reveal wood tones and pewter colored hardware to create a timeless impression. The functional features of Tribeca Loft Black combined with its soft modern style make this collection a true design solution for living. 

            %div
              = image_tag "icons/style_guide.png", alt: "Style Guide"

              %p
                %span Architectural Style Guide™
                &nbsp;...form follows function
                %br
                This style is deeply influenced by clean lines, minimalism and simplicity; where form follows function.  Understated colors with an emphasis on neutral tones combine to produce a sophisticated, appealing and comfortable style.  Products inspired by this Style Guide™ are designed to mix easily with furnishings and accessories from other time periods to create an unmistakably modern feel with impeccable flair.
                %br
                %br
                = link_to "See more products in this style", "#"
                
                

          #videos.tab-pane
            %h1 Features of Tribeca Loft Black Office
            %p 
              This can be some text about sharing the video or something

            = image_tag "pages/placeholders/video.jpg", alt: "Video"
        
    %footer
      %h1#rubric
        You may also be interested in one of these...
      .gallery#related_products
        .scroller
          .control.previous
            = link_to "#" do
              = render :partial => '/layouts/svg/arrow_left'
          .items_container
            %ul
              %li
                = image_tag "products/tribeca_loft/related/related1.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related2.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related3.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related4.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
              %li
                = image_tag "products/tribeca_loft/related/related5.jpg"
                .product_info
                  %hgroup
                    %h1
                      Tribeca Loft Black
                    %h2
                      Writing Table
                    %h3
                      sku #TL384
          .control.next
            = link_to "#" do
              = render :partial => '/layouts/svg/arrow_right'