- if @sku
  = render "/skus/breadcrumbs", product: @product, sku: @sku

.page{:id=>"#{@product.skin.name}"}
  %article
    .gallery#product-views
      .gallery-image
        - if !@product.images.blank?
          = cl_image_tag(@product.images.first.asset.filename.to_s, transformation: "gallery", alt: @product.images.first.asset.filename.to_s, title: @product.title)
        - else 
          - if @sku
            = cl_image_tag(@sku.images.first.asset.filename.to_s, transformation: "gallery", alt: @sku.images.first.asset.filename.to_s, title: @sku.title)
          - else 
            N/A
        %br
        .image-controls
          #enlarge
            = link_to "#" do 
              = render :partial => '/layouts/svg/enlarge'
              View Larger Image
        .image-controls.text-align-right
          #zoom
            = link_to "Roll Over Image To Zoom", "#"
      .scroller
        .control.previous
          = link_to "#" do
            = render :partial => '/layouts/svg/arrow_left'
        .items-container
          %ul
            - @sku.images.each do |image|
              %li
                .image-container
                  %span.helper
                  = link_to "#" do
                    = cl_image_tag(image.asset.filename.to_s, transformation: "scroller", alt: image.asset.filename.to_s, :"data-medium" => cloudinary_url(image.asset.filename.to_s, transformation: "gallery"), :"data-large" => cloudinary_url(image.asset.filename.to_s, transformation: "large"))

        .control.next
          = link_to "#" do
            = render :partial => '/layouts/svg/arrow_right'
    #product-details
      %header
        %hgroup
          %h1 
            sku ##{@sku.title}
          %h2
            #{@product.collection.title} #{@sku.finish.title}
          %h3
            = @product.title
        #icons
          = link_to "#" do 
            = render :partial => '/layouts/svg/share'
          = link_to "#", class: "print" do 
            = render :partial => '/layouts/svg/print'
      #tabs
        %ul#product_tabs.nav.nav-tabs{"data-tabs" => "tabs"}
          %li.active
            %a.gradient{"data-toggle" => "tab", :href => "#features"} Features
          %li
            %a.gradient{"data-toggle" => "tab", :href => "#dimensions"} Dimensions
          %li
            %a.gradient{"data-toggle" => "tab", :href => "#style"} Style
          %li
            %a.gradient{"data-toggle" => "tab", :href => "#videos"} Videos

        .tab-content
          #features.tab-pane.active
            %div
              = raw @product.features
              %ul
                - @product.brands.each do |brand|
                  - if !brand.images.blank?
                    %li= cl_image_tag(brand.images.first.asset.filename.to_s, alt: brand.title)
                
            .finishes
              - if @product.skus.length > 1
                %div
                  %h1
                    Also available in
                  %ul
                    - @product.skus.each do |sku|
                      - if sku != @sku
                        %li
                          - if sku.finish.image.first
                            = link_to product_sku_path(@product, sku) do
                              = cl_image_tag(sku.finish.image.first.asset.filename.to_s, transformation: 'thumb', alt: sku.finish.title)

              - if @product.categories.length > 1
                %div
                  %h1
                    #{@product.collection.title} is also available in
                  %ul
                    - @product.categories.each do |category|
                      %li
                        = link_to category.title, category_path(category.id)

          #dimensions.tab-pane
            - @product.dimensions.each do |dimension|
              %h1
                %span 
                  = dimension.title
                  = dimension.width
                  w x
                  = dimension.height
                  h x
                  = dimension.depth
                  d
              - if dimension.image.length > 0
                - dimension.image.each do |asset|
                  = cl_image_tag(asset.filename.to_s, transformation: 'thumb', alt: "Dimensions")
              
          #style.tab-pane
            = raw @product.collection.description 
            - @product.collection.styles.each do |style| 
              %div   
                = raw style.description 

          #videos.tab-pane
            %h1 Features of #{@product.collection.title} #{@sku.finish.title} 
            %p 
              This can be some text about sharing the video or something

            %iframe{:width => "440", :height => "267", :src => @product.video, :frameborder => "0", :allowfullscreen => ""}
        
    %footer
      %h1#rubric
        You may also be interested in one of these...
      .gallery#related-products
        .scroller
          .control.previous
            = link_to "#" do
              = render :partial => '/layouts/svg/arrow_left'
          .items-container
            %ul
              - @related.each_with_index do |product, index|
                - unless product.id == @product.id
                  %li
                    - if !product.images.blank?
                      = cl_image_tag(product.images.first.asset.filename.to_s, transformation: "related", alt: product.images.first.asset.filename.to_s, title: product.title)
                    - else 
                      = cl_image_tag(product.skus.first.images.first.asset.filename.to_s, transformation: "related", alt: product.skus.first.images.first.asset.filename.to_s, title: product.skus.first.title)
                    .product-info
                      %hgroup
                        %h1 
                          #{product.collection.title} #{product.skus.first.finish.title}
                        %h2
                          = product.title
                        %h3
                          sku ##{product.skus.first.title}
          .control.next
            = link_to "#" do
              = render :partial => '/layouts/svg/arrow_right'
