= form_for @brand do |f|
  - if @brand.errors.any?
    #error_explanation
      %h1= "#{pluralize(@brand.errors.count, "error")} prohibited this brand from being saved:"
      %ul
        - @brand.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Brand

    .field
      = f.label :title
      = f.text_field :title

    #brand-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "brand-image" })

  %fieldset
    %legend
      Styles

    .field
      .column
        .column-group
          - Style.all.each do |style|
            .checkbox
              = check_box_tag "style#{style.id}", style.id, @brand.styles.include?(style), :name => 'brand[style_ids][]'
              = label_tag "style#{style.id}", style.title
    
  .actions
    = f.submit 'Save'