- @figure_options = { header: true, removable: true }

= form_for @brand do |f|
  - if @brand.errors.any?
    #error-explanation
      %h1= "#{pluralize(@brand.errors.count, "error")} prohibited this brand from being saved:"
      %ul
        - @brand.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Brand

    .field.required
      = f.label :title
      = f.text_field :title

    .field
      = f.label :link
      = f.text_field :link

      %div.instructions.link
        (If used, "Link" will connect directly without displaying the contents of this page. Prefix "http://" to all external links. Use "/" for all internal. e.g.: "/locations")

    #brand-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.admin-button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "brand-image" })

    .field
      = f.cktext_area :description

  %fieldset{id: "figures-fields"}
    %legend
      Figures

    #figures.nested
      .addable-group
        = f.fields_for :figures, false do |figure|
          = render 'figures/figure_fields', f: figure, options: @figure_options
      .addable.admin-button
        = link_to_add_fields({ name: "Add Figure", f: f, association: :figures, container: "figures", nested: [ { association: :images } ], options: @figure_options })

  .actions
    = f.submit 'Save'