#admin
  %h1 Available Brand

  - if @brands
    %table
      %thead
        %tr
          %th Id
          %th Title
          / %th Category
          %th Image
          %th
      %tbody
        - @brands.each do |brand|
          %tr
            %td= brand.id
            %td= brand.title
            / %td= brand.category.title
            %td
              - if !brand.images.blank?
                = cl_image_tag(brand.images.first.asset.filename.to_s, transformation: "hint", alt: brand.images.first.asset.filename.to_s, title: brand.title)
              - else
                n/a
            %td= link_to 'Show', brand
            %td= link_to 'Edit', edit_brand_path(brand)
            %td= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Brand', new_brand_path
