= render "layouts/partials/user_side_nav"

#admin
  %h1 Available Brand

  .links
    = link_to 'Add a new Brand', new_brand_path

  - if @brands
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th List Image
          %th Figures
          %th
      %tbody
        - @brands.each do |brand|
          %tr
            %td= brand.id
            %td= brand.title
            %td
              - if brand.images.blank?
                &mdash;
              - else 
                = cl_image_tag(brand.images.first.asset.filename.to_s, transformation: "hint", alt: brand.images.first.asset.filename.to_s, title: brand.title)
            %td
              - brand.figures.each do |figure|
                - figure.images.each do |image|
                  = cl_image_tag(image.asset.filename.to_s, transformation: 'hint', alt: image.asset.filename.to_s)

            %td.controls
              = link_to 'Show', brand
              = link_to 'Edit', edit_brand_path(brand)
              = link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add a new Brand', new_brand_path
