= form_for @category do |f|
  - if @category.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ol
        - @category.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend
      Category
      
    .field.required
      = f.label :title
      = f.text_field :title

    #category-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.admin-button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "category-image" })
  
  .actions
    = f.submit 'Save'
