= render "layouts/partials/user_side_nav"

#admin
  %h1 Available Categories

  .links
    = link_to 'Add New Category', new_category_path
  - if @categories
    %table
      %thead
        %tr
          %th Id
          %th Title
          %th List Image
          %th
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.id
            %td= category.title
            %td
              - if category.images.blank?
                &mdash;
              - else 
                = cl_image_tag(category.images.first.asset.filename.to_s, transformation: "hint", alt: "#{category.title} Image", title: category.title)
                
            %td.controls
              = link_to 'Show', category
              = link_to 'Edit', edit_category_path(category)
              = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Category', new_category_path
