= render "/collections/templates/side_nav"
.page#collections
  %article
    %ul
      - @bradley = Collection.find(22)
      - @bradley.components.each do |component|
        %li
          .collection-image
            = link_to "/products/2" do
              = image_tag "products/bradley/371/gallery/main/gallery2.jpg"
          .collection-info
            %h1
              = link_to "/products/2" do
                = @bradley.title
            %h2
              = link_to "/products/2" do
                = component.title
            %h3
              sku#
            %ul
              %li
                = link_to "3701Q", "/products/2"
              %li
                = link_to "3701EK", "/products/2"
              %li
                = link_to "301CK", "/products/2"