- @dimension_options = { header: true, removable: true }
- @sku_options = { header: true, removable: true }

= form_for @product, :html => { :multipart => true } do |f|
  - if @product.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset{id: "product-fileds"}
    %legend
      Product Family Info

    .field
      = f.label :skin_id, "Template"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}, { prompt: "Select a Template" }

    .field#product-collection
      = f.label :collection_id, "Collection"
      = f.select :collection_id, Collection.all.collect{|t| [t.title, t.id]}, { prompt: "Select a Collection" }

    .field#product-component
      = render '/components/select', f: f

    .field#product-subcomponent
      //= render '/subcomponents/select', f: f

    .field
      = f.label :title
      = f.text_field :title

    #product-image.images.singular-image
      = f.fields_for :image do |image_builder|
        = render 'images/image_fields', f: image_builder

  %fieldset{id: "features-fields"}
    %legend
      Features

    .field
      = f.cktext_area :features

  %fieldset{id: "dimensions-fields"}
    %legend
      Dimensions

    #dimensions.nested
      .addable-group
        = f.fields_for :dimensions, false do |dimension|
          = render 'dimensions/dimension_fields', f: dimension, options: @dimension_options
      .addable
        = link_to_add_fields({ name: "Add Dimension", f: f, association: :dimensions, container: "dimensions", child_association: :image, options: @dimension_options })

  %fieldset{id: "style-fields"}
    %legend
      Style

    .field
      = f.cktext_area :style      
  
  %fieldset{id: "video-fields"}
    %legend
      Videos

    .field
      = f.label :video, "YouTube URL"
      = f.text_field :video


  %fieldset{id: "skus-fields"}
    %legend
      Skus

    #skus.nested
      .addable-group
        = f.fields_for :skus do |sku_builder|
          = render 'skus/sku_fields', f: sku_builder, options: @sku_options
      .addable
        = link_to_add_fields({ name: "Add Skus", f: f, container: "skus", association: :skus, child_association: :images, options: @sku_options })

  .actions
    = f.submit 'Save'
