- @dimension_options = { header: true, removable: true }
- @sku_options = { header: true, removable: true }

= form_for @product, :html => { :multipart => true } do |f|
  - if @product.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ol
        - @product.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset{id: "product-fields"}
    %legend
      Product Family Info

    .field
      = f.label :active
      = f.check_box :active, {checked: checked(f.object.active)}

    .field
      = f.label :shown
      = f.check_box :shown, {checked: checked(f.object.shown)}

    .field
      = f.label :skin_id, "Template", class: "required"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}, { prompt: "Select a Template" }

    .field#product-collection
      = f.label :collection_id, "Collection", class: "required"
      %select{id: "product_collection_id", name: "product[collection_id]", class: "tiered", :"data-type" => :product}
        %option
          Select a Collection
        - @collections = Collection.all
        - @collections.select{ |element| element.parent_id == 0 }.each do |collection|
          = render "collections/product_collection_select", collection: collection, level: -1, f: f

      #include-finish-name
        = f.check_box :include_finish_name
        = f.label :include_finish_name

    .field#product-components
      = render "components/select", collection_id: f.object.collection_id, product_id: f.object.id

    .field
      = f.label :title, class: "required"
      = f.text_field :title

    #product-image.singular-addable
      .addable-group.images
        = f.fields_for :images do |image_builder|
          = render 'images/image_fields', f: image_builder

      - if f.object.images.blank?
        .addable.admin-button
          = link_to_add_fields({ name: "Add Image", f: f, association: :images, container: "product-image" })

  %fieldset{id: "features-fields"}
    %legend
      Features

    .field
      = f.cktext_area :features

  %fieldset{id: "dimensions-fields"}
    %legend
      Dimensions

    #dimensions.nested
      .addable-group
        = f.fields_for :dimensions, false do |dimension|
          = render 'dimensions/dimension_fields', f: dimension, options: @dimension_options
      .addable.admin-button
        = link_to_add_fields({ name: "Add Dimension", f: f, association: :dimensions, nested: [ { association: :images } ], container: "dimensions", options: @dimension_options })    
  

  %fieldset{id: "videos-fields"}
    %legend
      Videos

    #videos.nested
      .addable-group
        = f.fields_for :videos, false do |video|
          = render 'videos/video_fields', f: video
      .addable.admin-button
        = link_to_add_fields({ name: "Add Video", f: f, association: :videos, container: "videos" })


  %fieldset{id: "skus-fields"}
    %legend
      Skus

    #skus.nested
      .addable-group
        = f.fields_for :skus do |sku_builder|
          = render 'skus/sku_fields', f: sku_builder, options: @sku_options
      .addable.admin-button
        = link_to_add_fields({ name: "Add Skus", f: f, container: "skus", association: :skus, nested: [ { association: :images } ], options: @sku_options })

  .actions
    = f.submit 'Save'
