#admin
  %h1 Listing Products

  - if @products
    %table
      %thead
        %tr
          %th Id
          %th Collection
          %th Title
          %th Template
          %th Style
          %th Skus
          / %th
          %th
          %th

      %tbody
        - @products.each do |product|
          %tr
            %td= product.id
            %td= product.collection.title
            %td= product.title
            %td= product.skin.name
            %td= product.style
            %td
              - product.skus.each_with_index do |sku, index|
                = link_to sku.title, product_sku_path(product, sku), { title: product.title }
                - if index < (product.skus.length - 2)
                  ,
            / %td= link_to 'Show', product
            %td= link_to 'Edit', edit_product_path(product)
            %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
  
  .links
    = link_to 'New Product', new_product_path
