%nav#side.admin
  %ul
    %li= link_to "Brands",        admin_brands_path
    %li= link_to "Categories",    admin_categories_path
    %li= link_to "Collections",   admin_collections_path
    %li= link_to "Compilations",  admin_compilations_path
    %li= link_to "Components",    admin_components_path
    %li= link_to "Finishes",      admin_finishes_path
    %li= link_to "Dealers",       admin_locations_path
    %li= link_to "Pages",         admin_pages_path
    %li= link_to "Products",      admin_products_path
    %li= link_to "Sections",      admin_sections_path
    %li= link_to "Skins",         admin_skins_path
    %li= link_to "Styles",        admin_styles_path