- if product.show
  %li
    .list-view-image
      = link_to product.path, { title: product.title } do
        = cl_image_tag(product.list_image, transformation: "list_med", alt: "#{product.title} Image", title: product.title)
    .list-view-info
      %h1.collection
        = link_to product.collection.get_patriarch_title, collection_path(product.collection.get_patriarch.id)
        &ndash;
        = link_to product.finish.title, finish_path(product.finish.id)
      %h2.title
        = link_to product.title, product.path
      %h3.finish
        sku#
      %ul
        - product.skus.each do |sku|
          %li= link_to sku.title, product.path