%footer.document
  - Section.all.each do |section|
    - if section.parent_id.blank? || section.parent_id == 0
      %nav{:id=>"#{section.name}"}
        %h1
          = section.title
        %ul
          - if section.name == "stay-connected"
            %li
              = link_to "http://pinterest.com/martinfurniture/", target: "_blank" do
                = render '/layouts/svg/pinterest'
            %li
              = link_to "https://api.twitter.com/MartinFurniture", target: "_blank" do
                = render '/layouts/svg/twitter'
            %li
              = link_to "https://www.youtube.com/user/martinfurniture1?feature=results_main", target: "_blank" do 
                = render '/layouts/svg/youtube'
          - else 
            - section.children.each do |subsection|
              %li
                = link_to subsection.title, subsection

  %nav#rights
    %small 
      © 2013 Martin Home Furnishings 
      %br 
      All Rights Reserved