%header
  - if admin_signed_in?
    %nav#user
      - if admin_signed_in?
        Logged in as: 
        %strong{style: "margin-right: 10px;"}
          = current_admin.email

        = link_to "Dashboard", admin_dashboard_path
        |

        = link_to "Logout", destroy_admin_session_path, method: :delete

      - else
        =# link_to "Sign up", new_user_registration_path
        / |
        
        =# link_to "Login", new_user_session_path
  #logo
    = link_to root_path do
      = render "layouts/svg/logo"
  %nav
    %ul
      %li
        = link_to "#tools" do
          tools
      %li
        = link_to "#environment" do
          environment
      %li
        = link_to "#latest" do
          latest
      %li
        = link_to "#brand-experience" do
          brands
      %li
        = link_to "#contact" do
          contact