%header
  - if admin_signed_in?
    %nav#user
      - if admin_signed_in?
        Logged in as: 
        %strong{style: "margin-right: 10px;"}
          = current_admin.email

        = link_to "Dashboard", admin_dashboard_path
        |

        = link_to "Logout", destroy_admin_session_path, method: :delete

      - else
        =# link_to "Sign up", new_user_registration_path
        / |
        
        =# link_to "Login", new_user_session_path
  %nav
    %ul 
      - Page.unscoped.all.each do |page|
        %li
          = link_to page do
            = page.title