.location
  .location-data{id: location.id}
    .location-name
      = location.name.capitalize
    .location-address
      = location.address.capitalize
    .location-city= location.city.capitalize
    .location-province
      = location.province.capitalize
    .location-postal-code
      = location.postal_code
    .location-country
      = location.country
    .location-phone
      = location.phone
    .location-extension
      = location.ext
    .location-alt-phone
      = location.phone_alt
    .location-alt-phone-extension
      = location.ext_alt
    .location-url
      = location.url