#tabs
  %ul#product_tabs.nav.nav-tabs{"data-tabs" => "tabs"}
    %li.active
      %a.gradient{"data-toggle" => "tab", :href => "#features"} Features
    %li
      %a.gradient{"data-toggle" => "tab", :href => "#dimensions"} Dimensions
    %li
      %a.gradient{"data-toggle" => "tab", :href => "#style"} Style

    - unless videos.blank?
      %li
        %a.gradient{"data-toggle" => "tab", :href => "#videos"} Videos

  .tab-content
    #features.tab-pane.active
      %div
        - feature_set.each do |product|
          %div
            - if feature_set.length > 1
              %h1= product.title
            = raw product.features

        %div 
          %ul
            - product_object.brands.each do |brand|
              - unless brand.figures.blank?
                %li
                  = link_to brand.figures.first.link do
                    = cl_image_tag(brand.figures.first.images.first.asset.filename.to_s, alt: brand.title)
      
      .finishes
        - if product_object.is_a?(Product) && product_object.skus.length > 1
          %div
            %h1 Also available in
            %ul
              - product_object.skus.each do |sku|
                - if sku != @sku
                  %li
                    - if sku.finish.images.first
                      = link_to product_sku_path(product_object, sku) do
                        = cl_image_tag(sku.finish.images.first.asset.filename.to_s, transformation: 'thumb', alt: "Finish Image", title: sku.finish.title)

        %div
          %h1 #{collection.title} is available in
          %ul
            - categories.each do |category|
              %li
                = link_to category.title, category_path(id: category.id, collection_id: collection_id, finish_id: finish_id)

        .button
          = link_to "Find a Retailer", locations_path

    #dimensions.tab-pane
      - feature_set.each do |product|
        - if feature_set.length > 1
          %h1
            = product.title
        %ul
          - product.dimensions.each do |dimension|
            %li
              %span.title
                = dimension.title
              %span.specs
                #{number_with_precision(dimension.width, strip_insignificant_zeros: true)}w 
                x
                #{number_with_precision(dimension.height, strip_insignificant_zeros: true)}h
                x
                #{number_with_precision(dimension.depth, strip_insignificant_zeros: true)}d
              - if dimension.images.length > 0
                = cl_image_tag(dimension.images.first.asset.filename.to_s, alt: "Dimensions")
        
    #style.tab-pane
      = raw collection.description 
      - collection.styles.each do |style| 
        %div   
          = raw style.description 

    - unless videos.blank?
      #videos.tab-pane
        / %h1 Features of #{collection.title} #{product_object.finish.title} 

        - videos.each do |video|
          %iframe{:width => "420", :height => "267", :src => video.url, :allowfullscreen => ""}

  %p.disclaimer
    *Factory reserves the right to make modifications to size, style & price without notice. Photographic representations of wood finishes may vary. All pieces have unfinished backs unless stated otherwise. Dimensions are rounded and include crown moldings.