%ul
  - related.each do |related_product|
    - if related_product.show
      - if related_product.is_a?(Compilation)
        %li
          = link_to related_product.path, { title: related_product.title } do
            = cl_image_tag(related_product.list_image, transformation: "related", alt: "#{related_product.title} Image", title: related_product.title)
          .product-info
            .hgroup
              %h1
                = link_to association(related_product, related_product.finish), related_product.path
              %h2
                = link_to related_product.title, related_product.path
              %h3
                - if related_product.skus.length > 1
                  skus
                - else
                  sku

                - related_product.skus.each do |sku|
                  %span.comma= link_to "##{sku.title}", related_product.path

                / = related_product.skus.each do |sku|
                /   = link_to related_product.path do
                /     sku ##{sku.title}
      - else
        - related_product.skus.each do |sku|
          - if sku.finish == finish
            %li
              = link_to related_product.path(sku), { title: related_product.title } do
                = cl_image_tag(sku.list_image, transformation: "related", alt: "#{related_product.title} Image", title: related_product.title)
              .product-info
                .hgroup
                  %h1
                    = link_to association(related_product, sku.finish), sku.finish.path
                  %h2
                    = link_to related_product.title, related_product.path(sku)
                  %h3
                    = link_to related_product.path(sku) do
                      sku ##{sku.title}