%ul
  %li
    = link_to "#", target: "_blank", class: "share", onclick: "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'Share on Facebook', 'width=626,height=436'); return false;" do
      = render '/layouts/svg/facebook'
  %li.colored#pinterest-button
    %script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
    = link_to "//www.pinterest.com/pin/create/button/", class: "share", :"data-pin-do" => "buttonBookmark" do
      = render '/layouts/svg/pinterest' 
    = render '/layouts/svg/pinterest'
  %li.colored
    = link_to "#", target: "_blank", class: "share", onclick: "window.open('https://twitter.com/intent/tweet?original_referer=#{request.original_url}&related=MartinFurniture&text=#{product.title}&tw_p=tweetbutton&url=#{request.original_url}&via=MartinFurniture', 'Share on Twitter', 'width=626,height=436'); return false;" do
      = render '/layouts/svg/twitter'
  / %li
  /   = link_to "#", target: "_blank", class: "share", onclick: "window.open('')", :"data-link" => "" do 
  /     = render '/layouts/svg/google_plus'
  %li.colored
    = link_to "mailto:?subject=#{product.title}&body=#{request.original_url}", class: "share" do 
      = render '/layouts/svg/email'