= render "layouts/partials/admin_side_nav"

#admin
  %h1 Available Locations

  - if @locations
    %table
      %thead
        %tr
          %th Name
          %th Address
          %th City
          %th Province
          %th Postal Code
          %th Country
          %th Phone
          %th URL
          %th
          %th
      %tbody
        - @locations.each do |location|
          %tr
            %td= location.name.titleize
            %td= location.address.titleize
            %td= location.city.titleize
            %td= location.province
            %td= location.postal_code
            %td= location.country
            %td= number_to_phone(location.phone, area_code: true, extension: location.ext) 
            %td= location.url
            %td= link_to 'Show', location
            %td= link_to 'Edit', edit_location_path(location)
            %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }

  .links
    = link_to 'Add New Location', new_location_path
