- @value = "Zip Code"
- @center_on_user = true

- if params[:retailer_search].present? 
  - @center_on_user = false
  - if params[:retailer_search] != ""
    - @value = params[:retailer_search]

.page
  #locations-column
    = @current_location.ip

    #location-search.small-form
      = form_tag locations_path, :method => :get do 
        .field
          = label_tag "Zip Code"
          = number_field_tag "retailer_search", @value, {class: "clear-input", "data-message" => @value, maxlength: 5}

        .field
          = label_tag "Radius"
          = select_tag "radius", options_for_select([["5 Miles", 5], ["10 Miles", 10], ["25 Miles", 25], ["50 Miles", 50], ["100 Miles", 100], ["All", 50000]], params[:radius])

        .field
          = submit_tag "Search", :name => nil 

    - if @locations
      %ul
        - @locations.each do |location|
          = render "location", location: location, current_location: @current_location

  #map-column
    %h1 
      Find a retailer near you

    = render "map", zoom_level: 10, center_on_user: @center_on_user
