%footer
  %nav#resources
    %h5 Resources
    %ul
      %li 
        = link_to "Media Guide"
      %li 
        = link_to "Quality Craftsmanship"
      %li 
        = link_to "Videos"
      %li 
        = link_to "Furniture Care"
      %li 
        = link_to "Warranty Information"
      %li 
        = link_to "Catalog"

  #getToKnowUs
    %h5 Get to Know Us
    %ul
      %li 
        = link_to "Brand Information"
      %li 
        = link_to "Company"
      %li 
        = link_to "Sustainability Efforts"
      %li 
        = link_to "News Releases"
      %li 
        = link_to "Employment"
      %li 
        = link_to "Legal/Privacy Notice"

  #letUsHelp
    %h5 Let Us Help
    %ul
      %li 
        = link_to "Contact"
      %li 
        = link_to "Dealer Locator"

  #stayConnected
    %h5 Stay Connected
    %ul
      %li 
        = link_to "Pintrest"
      %li 
        = link_to "Twitter"
      %li 
        = link_to "YouTube"

  #salesRepsAndDealers
    %h5 Sales Reps & Dealers
    %ul
      %li 
        = link_to "Sales Rep Login"
      %li 
        = link_to "Dealer Login"
      %li 
        = link_to "Webmail"
  #rights
    %p 
      © 2013 Martin Home Furnishings
    %br
      All Rights Reserved