%header.document
  #search
    = render "/layouts/search", id: "product_search"
    = render "/layouts/search", id: "retailer_search"
  #logo
    = link_to root_path do
      = image_tag "logo.png"

  %nav#main
    %ul
      %li#prodcuts
        = link_to "Products", "#", :class => ( 'active' if @active == "products" )
        .subnav
          .column-group
            .column
              %h1 Accessories
              %ul
                %li 
                  = link_to "Charge & Connect", "#"

              %h1 Bedroom
              %ul
                %li 
                  = link_to "Beds", "#"
                %li 
                  = link_to "Chests", "#"
                %li 
                  = link_to "Dressers", "#"
                %li 
                  = link_to "Mirrors", "#"
                %li 
                  = link_to "Nightstands", "#"

            .column
              %h1 Entertainment
              %ul
                %li 
                  = link_to "Audio Component Piers", "#"
                %li 
                  = link_to "Easy Wire Access System", "#"
                %li 
                  = link_to "Occasional Tables", "#"
                %li 
                  = link_to "TV Consoles", "#"

              %h1 Occasional
              %ul
                %li 
                  = link_to "Coffee Tables", "#"
                %li 
                  = link_to "End Tables", "#"
                %li 
                  = link_to "Sofa Tables", "#"

            .column
              %h1 Office
              %ul
                %li 
                  = link_to "Bookcases", "#"
                %li 
                  = link_to "Computer Armoires", "#"
                %li 
                  = link_to "Computer Carts", "#"
                %li 
                  = link_to "Conference Tables", "#"
                %li 
                  = link_to "Computer Credenzas", "#"
                %li 
                  = link_to "Desks", "#"
                %li 
                  = link_to "Executive Desks", "#"
                %li 
                  = link_to "Filing Cabinets", "#"
                %li 
                  = link_to "Hutches", "#"
                %li 
                  = link_to "L-Shaped Desks", "#"
                %li 
                  = link_to "Peninsula Walls", "#"
                %li 
                  = link_to "Writing Tables", "#"

      %li#collections
        = link_to "Collections", "#", :class => ( 'active' if @active == "collections" )
        .subnav
          .column-group
            .column
              %ul
                %li 
                  = link_to "Beaumont", "#"
                %li 
                  = link_to "Bedford", "#"
                %li 
                  = link_to "Bradley", "#"
                %li 
                  = link_to "Brookside", "#"
                %li 
                  = link_to "California Bungalow", "#"
                %li 
                  = link_to "Carlton", "#"
                %li 
                  = link_to "City Heights", "#"
                %li 
                  = link_to "Concord", "#"
                %li 
                  = link_to "Contemporary Office", "#"
            .column
              %ul
                %li 
                  = link_to "Crescent", "#"
                %li 
                  = link_to "Ellipse", "#"
                %li 
                  = link_to "Empire", "#"
                %li 
                  = link_to "Fulton", "#"
                %li 
                  = link_to "Grove", "#"
                %li 
                  = link_to "Hudson Street", "#"
                %li 
                  = link_to "Huntington", "#"
                %li 
                  = link_to "Mission Pasadena", "#"
                %li 
                  = link_to "Mount View", "#"
            .column
              %ul
                %li 
                  = link_to "Portland Loft", "#"
                %li 
                  = link_to "Spring Hill", "#"
                %li 
                  = link_to "Southampton", "#"
                %li 
                  = link_to "Studio West", "#"
                %li 
                  = link_to "Tribeca Loft", "#"
                %li 
                  = link_to "Waterfall", "#"
                %li 
                  = link_to "Weston", "#"
                %li 
                  = link_to "WorX", "#"
      %li#styles
        = link_to "Styles", "#", :class => ( 'active' if @active == "styles" )
        .subnav
          .column-group
            .column
              %ul
                %li 
                  = link_to "Americana", "#"
                %li 
                  = link_to "Architecrual", "#"
                %li 
                  = link_to "Contemporary", "#"
                %li 
                  = link_to "Mission", "#"
                %li 
                  = link_to "Modern", "#"
                %li 
                  = link_to "Transitional", "#"
      %li#KI-Home
        = link_to "Kathy Ireland™ Home", "#", :class => ( 'active' if @active == "KIHome" )
