%header
  #search
    = render partial: "search_form"
    = render partial: "search_form"

  #logo
    = link_to root_path do
      = image_tag "logo.png"

  %nav#main
    %ul
      %li
        = link_to "Products", "#", :class => ( 'active' if @active == "products" )
      %li
        = link_to "Collections", "#", :class => ( 'active' if @active == "collections" )
      %li
        = link_to "Styles", "#", :class => ( 'active' if @active == "styles" )
      %li
        = link_to "Kathy Ireland™ Home", "#", :class => ( 'active' if @active == "KIHome" )
