%header.document
  #search
    = render "/layouts/product", id: "product_search"
    = render "/layouts/retailer", id: "retailer_search"
  #logo
    = link_to root_path do
      = image_tag "logo.png"

  %nav#main
    %ul
      %li#products
        = link_to "Products", "#", :class => ( 'active' if @active == "products" )
        .subnav
          .column-group
            //- create_columns
            - Category.all.each_slice(3) do |column|
              .column
                - column.each do |category|
                  %h1 
                    =category.title
                  %ul
                    - category.components.each do |component|
                      %li
                        = link_to component.title, component

      %li#collections
        = link_to "Collections", "#", :class => ( 'active' if @active == "collections" )
        .subnav
          .column-group
            - Collection.all.each_slice(10) do |column|
              .column
                %ul
                  - column.each do |collection|
                    %li
                      = link_to collection.title, collection
      %li#styles
        = link_to "Styles", "#", :class => ( 'active' if @active == "styles" )
        .subnav
          .column-group
            - Style.all.each_slice(10) do |column|
              .column
                %ul
                  - column.each do |style|
                    %li
                      = link_to style.title, style
      %li#brands
        = link_to "kathy ireland™ Home", "#", :class => ( 'active' if @active == "KIHome" )
