!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title= "Martin Home Furnishings"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = cloudinary_js_config
    = csrf_meta_tags
    /[if lt IE 9]
      %script{ src: "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js", type: "text/javascript" }
    /[if gte IE 9]
      %link{ href: "ie/IE9.css" }
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"

  %body
    #container
      = render :partial => "layouts/partials/header"
      #messages
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      #content
        = yield
      = render :partial => "layouts/partials/footer"
      = yield :scripts
      