!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title= "Martin Home Furnishings"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js", type: "text/javascript" }
    /[if gte IE 9]
      %link{ href: "ie/IE9.css" }
      /= stylesheet_link_tag "ie/IE9", media: "all"
  %body
    #container
      = render :partial => "layouts/header"
      #content
        #messages
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      = render :partial => "layouts/footer"