!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{name: "Description", content: "base10 CMS"}
    %title= "base10 CMS"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = cloudinary_js_config
    = csrf_meta_tags

  %body
    #container
      #messages
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      #content
        = yield
      = yield :scripts